<a href="https://colab.research.google.com/github/ivetoak/hello-world/blob/main/2_Ejercicio_pr%C3%A1ctico_1_Ivette_Fern%C3%A0ndez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Crea 2 variables, `a` y `b`, y asignales los valores 5 y 7 respectivamente

In [128]:
a = 5
b = 7
print("1. Variable a:", a,"y Variable b:", b )

1. Variable a: 5 y Variable b: 7

2. Guarda la suma de `a` y `b` en la variable `c`

In [36]:
c = a + b
print("2. Variable c (suma de a+b):", c)
print(type(c))

2. Variable c (suma de a+b): 12
<class 'int'>

3. Actualiza el valor de variable `c` sumandole 2 a sí misma

In [37]:
c = a + b + 2
print("3. Variable nueva c (suma de a+b+2):", c)
print(type(c))

3. Variable nueva c (suma de a+b+2): 14
<class 'int'>

4. Imprime en pantalla el valor de c

In [38]:
print("4. Variable nueva c (suma de a+b+2):", c)
print(type(c))

4. Variable nueva c (suma de a+b+2): 14
<class 'int'>

5. Imprime en pantalla la siguiente frase:

"El valor de c es _"

Adaptarlo para que muestre el valor de la variable.

In [39]:
print("5. El valor de c es", c)
print(type(c))

5. El valor de c es 14
<class 'int'>

7. Como podemos saber cuál es el tipo de datos de c?

In [40]:
print("6. El valor de c es", type(c))

6. El valor de c es <class 'int'>

8. Multiplica `c` por 1.0. Gurada el resultado en `d`

In [41]:
d = c * 1.0
print("7. Variable d (multiplica c*1.0):", d)

7. Variable d (multiplica c*1.0): 14.0

9. Qué clase o tipo de dato almacena la variable `d`?

In [42]:
print("9. El valor de d es", type(d))

9. El valor de d es <class 'float'>

10. A la luz del tipo de datos vistos en `c` y `d`, podemos decir que ambas variables son iguales? Escribe una expresión booleana que los iguale

In [126]:
relación_tipo = type(c) == type(d)
relación_valor = (c==d)

if relación_tipo == True and relación_valor == True:
   print("10. Las variables y valores son iguales")
elif relación_tipo == True and relación_valor == False:
   print("10. Las variables son iguales pero los valores son diferentes")
elif relación_tipo == False and relación_valor == True:
   print("10. Las variables son diferentes pero los valores son iguales")
else:
   print("10. Las variables y los valores son diferentes")

10. Las variables son diferentes pero los valores son iguales

11. Guarda en una lista las variables `a`, `b`, `c` y `d`. Llama a la variable que la almacena *lista*

In [136]:
lista = [a, b, c, d]
print("11. Valores lista", lista)

11. Valores lista [5, 7, 14, 14.0]

12. Guarda en una tupla las variables `a`, `b`, `c` y `d`. Llama a la variable que la almacena *tupla*

In [137]:
tupla = (a, b, c, d)
print("12. Valores Tupla", tupla)

12. Valores Tupla (5, 7, 14, 14.0)

13. Guarda en un diccionario las variables `a`, `b`, `c` y `d`. Las claves o *keys* serán 'a', 'b', 'c' y 'd' y los valores las propias variables.  Llama a la variable que lo almacena *diccionario*

In [59]:
diccionario = {}
diccionario = {"a": a, "b": b, "c": c, "d": d}
print("13. Variables y claves diccionario",diccionario)

13. Variables y claves diccionario {'a': 5, 'b': 7, 'c': 14, 'd': 14.0}

14. Muestra el primer elemento de *lista*

In [65]:
print(f"14. El primer elemento de la lista es: {lista[0]}")

14. El primer elemento de la lista es: 5

15. Muestra el último elemento de *tupla*

In [138]:
último_elemento = tupla[-1]
print("15. El último elemento de la tupla es:", último_elemento)

15. El último elemento de la tupla es: 14.0

16. Convierte *tupla* en una lista. Guarda el resultado en *lista_2*

In [140]:
lista_2 = [tupla]
print("16. Confirmación conversión de tupla a lista","\n", type(lista_2), lista_2)

16. Confirmación conversión de tupla a lista
 <class 'list'> [(5, 7, 14, 14.0)]

17. Añade un nuevo elemento a *lista_2*, el número 8 por ejemplo

In [142]:
lista_2 = [tupla, 8]
print("17. Añadir 8 a la lista 2","\n", type(lista_2), lista_2)

17. Añadir 8 a la lista 2
 <class 'list'> [(5, 7, 14, 14.0), 8]

18. Muestra la longitud o número de elementos de *lista_2*

In [86]:
print("18. Longitud lista_2 :",len(lista_2))

18. Longitud lista_2 : 2

19. Muestra las claves o *keys* de *diccionario*

In [127]:
claves = diccionario.keys()
print("19. Claves del diccionario:", claves)

19. Claves del diccionario: dict_keys(['a', 'b', 'c', 'd'])

20. Muestra los valores o `values` de *diccionario*

In [103]:
valores = diccionario.values()
print("20. Valores del diccionario:", valores)

20. Valores del diccionario: dict_values([5, 7, 14, 14.0])