<a href="https://colab.research.google.com/github/ivetoak/hello-world/blob/main/4_1_Introduccion_python_sin_resolver_ivette.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRECURSOS

## Python &#x1F60E; üêç;

Reglas indispensables a seguir en Python:


1.   Respetar indentaciones
2.   *Case Sensitive*
3.   Definir elementos previos a su invocaci√≥n (*sentido en el que corre el c√≥digo*)
4.   Tener en cuenta al sobreescribir elementos ya definidos

Detalles a tener en cuenta:

**1. Tipo de datos:**
- No hay que declarar el tipo de dato ‚ü∂ python lo deduce autom√°ticamente al asignar un valor a la variable ‚áí esto es lo que se conoce como **tipado din√°mico**

**2. Asignaci√≥n de memoria:**
- Python asigna un espacio de memoria suficiente para almacenar el valor de la variable y su tipo de forma autom√°tica

## **INDEX**

1. Librer√≠as
2. Declarar variables
3. Print
4. Tipo de datos:

  *   Caracteres: string
  *   Num√©ricos: int, float
  *   L√≥gicos: bool
  * Colecci√≥n: Listas, diccionarios, tupla, set

5. Estructuras de control de flujo:

  * If
  * For
  * While

6. Operadores:

  * Aritm√©ticos
  * Relacionales
  * L√≥gicos
  * De pertenencia

7. Funciones:

  * Built-in
  * kwargs
  * Lambda

- Vamos a ir revisando la teor√≠a + ejercicios
- Este notebook se corresponde con la sesi√≥n Live 1 (introducci√≥n a python) + Live 2 (actividad introducci√≥n a python)
- Se tendr√° que entregar en la actividad los ejercicios que iremos resolviendo en clase + los que no de tiempo
- Los enunciados de estos ejercicios se encuentran:
  * En este notebook, al acabar cada parte de teor√≠a
  * Recopilados en el notebook de actividades a entregar
  * SON EXACTAMENTE LOS MISMOS

## 1.Importaci√≥n de librer√≠as

In [ ]:
import sys          # Proporciona acceso a funciones y variables espec√≠ficas del sistema.
import keyword      # Permite trabajar con las palabras clave de Python.
import operator     # Ofrece acceso a operadores funcionales, como operaciones matem√°ticas y l√≥gicas.
from datetime import datetime  # Importa la clase datetime para trabajar con fechas y horas.
import os           # Proporciona una manera de usar funcionalidades dependientes del sistema operativo.

## 2.Declaraci√≥n de Variables

*  El nombre debe comenzar con letras o un gui√≥n bajo
*  No se permiten espacios en blanco ni caracteres especiales (como @, #, $, %, etc.)
*  No usar palabras reservadas del lenguaje como nombres de variables (if, else, while, for, def, class, import, etc)

In [ ]:
a = 'soy una variable valida'
print(a)

soy una variable valida

In [ ]:
a, b, c = 'string', 15, True
print(b)

15

In [ ]:
my_list = ['Pepito Perez', 'Pepita Perez']
padre, hija = my_list
print(hija)

Pepita Perez

##  3.Print: format string

La funci√≥n **print** es una de las funciones m√°s utilizadas en Python. Se usa para mostrar informaci√≥n:

In [ ]:
nombre = 'Silvia'
edad = 26

print("nombre")
print(nombre)

print("edad")
print(edad)

nombre
Silvia
edad
26

#### Operador +

- Sirve para sumar numeros
- o concatenar strings

In [ ]:
saludo = "Hola"
nombre = 'Silvia'
# Union de cadenas
print(saludo + " " + nombre + ", " + "c√≥mo va todo?")

Hola Silvia, c√≥mo va todo?

In [ ]:
5 + 6

11

In [ ]:
"5" + "6"

'56'

Podemos **concatenar cadenas de texto y variables de tipo string utilizando el operador +**.

Debemos asegurarnos de que todas las partes sean cadenas de texto:

In [ ]:
saludo = "Hola"
nombre = 'Silvia'
print(saludo + ", mi nombre es " + nombre + ", encantada")

# saludo : es string
# nombre: es string
# como es del mismo tipo, NO da error

Hola, mi nombre es Silvia, encantada

Si intentamos usar el operador "+" y mezclamos parte string + parte num√©rica, nos va a dar error:

> can only concatenate str (not "int") to str

In [ ]:
edad = 26
print("Tengo: " +  edad + "a√±os.")

# tengo: es string
# edad: es n√∫mero
# como NO es el mismo tipo, da error al intentar concatenar

TypeError: can only concatenate str (not "int") to str

Podemos **intercalar variables de diferentes tipos con comas**, y as√≠ podremos imprimir varios elementos.

Python agregar√° autom√°ticamente un espacio entre cada elemento:

In [ ]:
edad = 26
print("Tengo", edad, "a√±os.")

# tengo: es string
#¬†edad: es numero
# al usar comas en lugar de + podemos imprimir el resultado

Tengo 26 a√±os.

Y podemos mostrar un mensaje mas completo:

In [ ]:
print("Hola, mi nombre es", nombre, "y tengo", edad, "a√±os.")

Hola, mi nombre es Silvia y tengo 26 a√±os.

### **print con f-string**

- Las f-strings son una forma concisa y conveniente de incorporar expresiones/variables dentro de cadenas de texto.

- Se llaman as√≠ porque se preceden por una f o F antes de las comillas (viene del ingl√©s formatted)

- Las expresiones dentro de una f-string se incluyen entre llaves {} y se eval√∫an en tiempo de ejecuci√≥n.

¬øC√≥mo se compone este print?

1. Anteponemos una f a la cadena de texto.
2. Utilizamos llaves {} para incluir las variables que queramos traducir dentro de la cadena.
  - Probemos con nombre y edad
3. Python reemplaza {nombre} con el valor de la variable nombre y {edad} con el valor de edad.

In [ ]:
#nombre = 'Silvia'
#edad = 26

# no necesito declarar las variables de nuevo
# ya las tiene en memoria python

print(f"Mi nombre es {nombre} y tengo {edad} a√±os.")

Mi nombre es Silvia y tengo 26 a√±os.

In [ ]:
nombre = 'Rub√©n'
edad = 20

print(f"Mi nombre es {nombre} y tengo {edad} a√±os.")

Mi nombre es Rub√©n y tengo 20 a√±os.

Una de las ventajas de las f-strings es que puedes incluir expresiones dentro de las llaves, no solo variables:

In [ ]:
a√±os_siguiente = edad + 1
print(f"El pr√≥ximo a√±o, tendr√© {a√±os_siguiente} a√±os.")
print(f"Y el siguiente, tendr√© {a√±os_siguiente+1} a√±os.")

El pr√≥ximo a√±o, tendr√© 21 a√±os.
Y el siguiente, tendr√© 22 a√±os.

Tambi√©n podemos formatear n√∫meros dentro de una f-string, por ejemplo, para mostrar un n√∫mero con dos decimales:

In [ ]:
altura = 1.625
print(f"Mi altura es {altura:.2f} metros.")

# {altura:.2f} indica que queremos mostrar el valor de altura con dos decimales.

Mi altura es 1.62 metros.

M√°s adelante veremos otra forma de usar f-string

### üéà Ejercicio print üéà

Declara las siguientes variables:

* **nombre:** tu nombre
* **edad:** tu edad
* **ciudad:** la ciudad donde vives
* **hobby:**tu pasatiempo favorito

Usa una f-string para imprimir una oraci√≥n que incluya toda esta informaci√≥n:

> Me llamo *Silvia*, tengo *26* a√±os y vivo en *Legan√©s*. Me encanta *viajar*.

In [ ]:
# Usa una f-string para imprimir una oraci√≥n que incluya la informaci√≥n
# nombre, edad, ciudad, hobby

# Declarar las variables


# Usar una f-string para imprimir la informaci√≥n

Me llamo Silvia, tengo 26 a√±os y vivo en Legan√©s. Me gusta viajar.

## 4.Tipo de datos

### 4.1. String: cadena de caracteres

- Un **string** es una secuencia de caracteres que se utiliza para representar texto.
- Pueden incluir letras, n√∫meros y caracteres especiales.
- Se declara entre:
  * comillas simples (')
  * comillas dobles (")
  * con triple comillas ("""): esto nos permite escribir p√°rrafos
  * se utiliza la barra lateral \ para escapear algun caracter especial

#### Formas de declarar str

In [ ]:
# 1. String con Comillas Simples
string_simple = 'Pontia'
print(string_simple)

# con el f-string
print(f"string_simple: {string_simple}")

nombre='Silvia'
print(f"nombre: {nombre}")

nombre: Silvia

In [ ]:
# 2. String con Comillas Dobles
string_doble = "Pon@tia"
print(string_doble)

saludo = "Hola, ¬øc√≥mo est√°s?"
print(saludo)

Pon@tia
Hola, ¬øc√≥mo est√°s?

In [ ]:
# 3. String con Comillas Dobles y Comillas Simples Internas
string_con_comillas = '"Pontia"'
print(string_con_comillas)

# Este string utiliza comillas simples para encapsular el texto, que incluye comillas dobles dentro de s√≠ mismo.
# Es √∫til para incluir comillas dobles dentro del string sin necesidad de usar caracteres de escape.

cita = '"La vida es bella", dijo √©l.'
print(cita)

"Pontia"
"La vida es bella", dijo √©l.

In [ ]:
# Tambien se puede usar al reves: comillas dobles encapsulando comillas simples
saludo_simple = 'Hola, "Juan". ¬øC√≥mo est√°s?'
saludo_doble = "Hola, 'Juan'. ¬øC√≥mo est√°s?"
print(saludo_simple)
print(saludo_doble)

Hola, "Juan". ¬øC√≥mo est√°s?
Hola, 'Juan'. ¬øC√≥mo est√°s?

In [ ]:
# 4. String con Caracteres de Escape
string_con_comillas_escape = "\"Pontia\""
print(string_con_comillas_escape)

# Este string usa comillas dobles para encapsular el texto (en lugar de las simples)
# y caracteres de escape (\) para incluir comillas dobles dentro del string.

# Los caracteres de escape permiten incluir caracteres especiales que de otro modo ser√≠an dif√≠ciles de incorporar directamente.
# como saltos de l√≠nea (\n), tabulaciones (\t), o comillas dentro de un string

texto_con_escapes = "Esta es una l√≠nea.\nEsta es una nueva l√≠nea con una tabulaci√≥n:\tFin."
print(texto_con_escapes)

"Pontia"
Esta es una l√≠nea.
Esta es una nueva l√≠nea con una tabulaci√≥n:	Fin.

In [ ]:
# 5. String con Triple Comillas Dobles
string_triple_doble_comillas = """Pontia"""
print(string_triple_doble_comillas)

# √∫til para strings que abarcan varias l√≠neas y para incluir comillas simples y dobles sin necesidad de caracteres de escape

texto_multilinea = """\nEsta es una l√≠nea.
Esta es otra l√≠nea.
Y aqu√≠ hay una "cita" en una l√≠nea nueva."""
print(texto_multilinea)


mensaje = """
Querido Juan,

Espero que est√©s bien.
Quer√≠a decirte que "la vida es bella".

Saludos,
Ana"""
print(mensaje)

Pontia

Esta es una l√≠nea.
Esta es otra l√≠nea.
Y aqu√≠ hay una "cita" en una l√≠nea nueva.

Querido Juan,

Espero que est√©s bien.
Quer√≠a decirte que "la vida es bella".

Saludos,
Ana

In [ ]:
# 6. String que Contiene un N√∫mero
string_num = "255"
print(string_num)

# Este es un string que contiene caracteres num√©ricos.
# Aunque parece un n√∫mero, se almacena y se trata como texto.
print(type(string_num))

255
<class 'str'>

In [ ]:
# No podemos realizar operaciones matem√°ticas directamente sobre este string sin convertirlo primero a un tipo num√©rico
print(string_num + 10)

# Lo convertimos a numero con la funcion 'int'
numero_entero = int(string_num)
print(type(numero_entero))
print(numero_entero + 10)

<class 'int'>
265

**La Funci√≥n input()**

- Se utiliza para tomar datos de entrada del usuario
- input() pausa el programa y espera a que el usuario ingrese alg√∫n texto
- Todo lo que el usuario escribe y luego confirma (presionando Enter) se captura como un string
- Independientemente de lo que el usuario ingrese, la funci√≥n input() siempre retorna un valor de tipo **str**.

#### ‚≠ê Ejemplo input ‚≠ê

Usa la funci√≥n input para pedir al usuario su edad y guarda el valor en una variable.

Imprime el tipo de dato de esa variable y modif√≠calo a tipo n√∫mero entero (int).

Luego imprime en pantalla un mensaje de cu√°ntos a√±os tendr√° el usuario el a√±o que viene.

In [ ]:
# Pedir la edad al usuario
edad_string = input("Por favor, ingresa tu edad: ")

# Imprimir el tipo de dato (deber√≠a ser str)
print(type(edad_string))

# Convertir el string a entero
edad_entero = int(edad_string)

# Imprimir un mensaje con la edad incrementada usando f-strings
print(f"El pr√≥ximo a√±o tendr√°s {edad_entero + 1} a√±os.")

El pr√≥ximo a√±o tendr√°s 27 a√±os.

#### Resumen str

In [ ]:
string_simple = 'Pontia'
string_doble = "Pon@tia"
string_con_comillas = '"Pontia"'
string_con_comillas_escape = "\"Pontia\""
string_triple_doble_comillas = """Pontia"""
string_tambien = "255"

print(string_simple)

print(type(string_tambien))
print(string_tambien)

Pontia
<class 'str'>
255

#### M√≥dulo Keyword

- El m√≥dulo **keyword** proporciona una lista de todas las **palabras reservadas** del lenguaje.
- Las palabras reservadas son identificadores que tienen un significado especial en el lenguaje y no pueden ser usadas como nombres de variables, funciones, o cualquier otro identificador.
- Vamos a ver c√≥mo podemos imprimir esta lista y contar cu√°ntas palabras reservadas hay en Python

In [ ]:
# Imprimir la lista de palabras reservadas en Python
print(keyword.kwlist)

# Imprimir la cantidad de palabras reservadas
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#### Indexaci√≥n


**Indexaci√≥n:**

- Inicio desde 0:

    En Python, la indexaci√≥n comienza desde 0.
    - Esto significa que el primer elemento de una secuencia tiene √≠ndice 0
    - El segundo tiene √≠ndice 1
    - y as√≠ sucesivamente.


- Acceso a Elementos:

  Para acceder a un elemento en una secuencia, simplemente especificamos su √≠ndice dentro de corchetes [] despu√©s del nombre de la secuencia.
  Por ejemplo:
  -  cadena[0] accede al primer car√°cter de una cadena
  - lista[3] accede al cuarto elemento de una lista, etc.


- √çndices Negativos:

  Adem√°s de los √≠ndices positivos, Python permite utilizar √≠ndices negativos para contar desde el final de la secuencia.
  - -1 se refiere al √∫ltimo elemento
  - -2 al pen√∫ltimo
  - y as√≠ sucesivamente.

Vamos a trabajar estos conceptos con un ejemplo:

In [ ]:
# Declaramos la variable
string_simple = 'python'

# len => nos da el numero de caracteres que tiene una variable
len(string_simple)

6

Ejemplo de indexaci√≥n del string "*Python*" &#x1F913;

![indexacion_strings.png]()

In [ ]:
# Imprime el primer car√°cter de la cadena 'string_simple' (√≠ndice 0 => p)
print(string_simple[0])  # Salida: p

# Imprime el segundo car√°cter de la cadena 'string_simple' (√≠ndice 1 => y)
print(string_simple[1])  # Salida: y

# Imprime el quinto car√°cter de la cadena 'string_simple' (√≠ndice 4 => o)
print(string_simple[4])  # Salida: o

p
y
o

In [ ]:
# Si indico un indice mayor a los existentes => da error
print(string_simple[6])  # Salida: index out of range

IndexError: string index out of range

![indexacion_strings.png]()

In [ ]:
# Imprime el primer car√°cter desde el final (index: -1 => n)
print(string_simple[-1])  # Salida: n

# Imprime el tercer car√°cter desde el final (index: -3 => h)
print(string_simple[-3])  # Salida: h

n
h

In [ ]:
# Compara si el segundo car√°cter (index: 1 => y)
# y el quinto car√°cter  (index: 4 => o)
# de 'string_simple' son iguales
print(string_simple[1] == string_simple[4])  # Salida: False

False

In [ ]:
# Compara si el segundo car√°cter (index: 1 => y)
# y el indice -5 inverso  (index: -5 => y)
# de 'string_simple' son iguales
print(string_simple[1] == string_simple[-5])  # Salida: True

True

#### **Funciones find() y index():**


**find(subcadena):**

- Busca la primera ocurrencia de la subcadena especificada dentro de una cadena
- Si la subcadena est√° presente, devuelve el √≠ndice donde comienza la primera aparici√≥n de la subcadena
- Si la subcadena no est√° presente, devuelve -1.
- Es √∫til cuando se desea realizar una b√∫squeda y *no se desea lanzar una excepci√≥n* si la subcadena no se encuentra.

`cadena.find(subcadena)`

**index(subcadena):**

- Busca la primera ocurrencia de la subcadena dentro de una cadena
- Si la subcadena est√° presente, devuelve el √≠ndice donde comienza la primera aparici√≥n de la subcadena.
- Si la subcadena no est√° presente, genera un error ValueError.
- Es √∫til cuando se desea realizar una b√∫squeda y se espera que la subcadena siempre est√© presente, ya que se puede *manejar el error* si la subcadena no se encuentra.

`cadena.index(subcadena)`

In [ ]:
# Busca la primera ocurrencia de 'X' en 'string_simple'
# y devuelve su √≠ndice.
# Si no se encuentra, devuelve -1

# Buscamos la el index de la 'y' => 1
print(string_simple.find('y'))

# Buscamos la el index de la 'thon' => 2,3,4,5 => primera ocurrencia => 2
print(string_simple.find('thon'))

# 'u' no se encuentra en 'python' => devuelve -1
print(string_simple.find('u'))

1
2
-1

In [ ]:
# Busca la primera ocurrencia de 'X' en 'string_simple'
# y devuelve su √≠ndice.
# Si no se encuentra, lanza un error.

# Buscamos la el index de la 'y' => 1
print(string_simple.index('y'))

# Buscamos la el index de la 'thon' => 2,3,4,5 => primera ocurrencia => 2
print(string_simple.index('thon'))

# 'u' no se encuentra en 'python' => devuelve error
# print(string_simple.index('u'))

1
2

#### üéà Ejercicio index üéà

Escribir un programa que busque una subcadena espec√≠fica en un texto dado y muestre el √≠ndice donde comienza la subcadena.

Adem√°s, buscar la ocurrencia de una letra dentro de un rango de √≠ndices en el mismo texto.

1. Crea una cadena de texto con el siguiente contenido:


> "Todos han jugado al paddel pero yo nunca lo he jugado"

2. Busca la palabra "paddel" y almacena el √≠ndice en "indice_paddel" y muestra su resultado

3. Busca la letra 'a' dentro del rango [2,11]

4. Busca la letra 'e' dentro del rango [2,11] y que NO lance error en caso de no encontrarla

In [ ]:
# Crea la cadena de texto
# txt =

# Busca la palabra "paddel" en la cadena 'txt' y
# almacena el √≠ndice de inicio en 'indice_paddel'

# Notese: los espacios cuentan como caracter y tienen asignado un indice

# Imprime el √≠ndice donde comienza la subcadena "paddel"

# Buscar la letra 'a' entre los √≠ndices 2 y 11 de la cadena 'txt'


# Buscar la letra 'e' entre los √≠ndices 2 y 11 de la cadena 'txt'
# Si la letra 'e' no se encuentra en ese rango, la funci√≥n index() lanzar√≠a un error.


# Si usamos index => lanza error
# e_index = txt.index("e", 2, 11)

#### Otras funciones

- capitalize()
- upper()
- lower()
- isupper()
- islower()
- isalpha()
- isnumeric()
- replace('esto', 'por esto')
- strip()
- lstrip()
- rstrip()
- title()
- swapcase()

In [ ]:
string_simple = "hoy es martes 20"
print(string_simple)

# Convertir la primera letra de 'string_simple' a may√∫scula
print(string_simple.capitalize())

# Convertir todos los caracteres de 'string_simple' a may√∫sculas
print(string_simple.upper())

# Alternativa para convertir todos los caracteres a min√∫sculas
print(string_simple.lower())

# Verificar si todos los caracteres en 'string_simple' est√°n en may√∫sculas
print(string_simple.isupper())

# Alternativa para verificar si todos los caracteres est√°n en min√∫sculas
print(string_simple.islower())

# Verificar si todos los caracteres en 'string_simple' son alfab√©ticos
print(string_simple.isalpha())

# Verificar si todos los caracteres en 'string_simple' son num√©ricos
print(string_simple.isnumeric())

# Reemplazar 'y' por 'a' en 'string_simple', luego 'h' por espacio
print(string_simple.replace('y','a'))

print(string_simple.replace('y','a').replace('h',' '))

# Reemplazar 'hoy es ' por 'x' en 'string_simple'
print(string_simple.replace('hoy es ','x'))

hoy es martes 20
Hoy es martes 20
HOY ES MARTES 20
hoy es martes 20
False
True
False
False
hoa es martes 20
 oa es martes 20
xmartes 20

In [ ]:
# Nuestra variable original NO esta siendo cambiada
# para guardar el cambio tendr√≠amos que asignarlo a una variable

print(string_simple.upper())
print(string_simple)

# Asignamos a una variable
string_upper = string_simple.upper()
print(string_upper)

In [ ]:
#¬†Estas funciones se llaman con el objeto.upper()
'hello'.upper()

# Si pusieramos upper(objeto) nos va a dar error
# .upper('hello')

# .upper() takes no arguments (1 given)

'HELLO'

In [ ]:
# Uso del m√©todo STRIP para limpiar caracteres no deseados en los extremos de una cadena

# Definir una cadena con caracteres '~' alrededor de la palabra 'Python'
ejemplo_strip_simple = "~~~Python~~~"

# Imprimir la cadena original
print(ejemplo_strip_simple)

# Eliminar todos los caracteres '~' de los extremos de la cadena
variable_limpia = ejemplo_strip_simple.strip("~")

# Imprimir la cadena 'limpia'
print(variable_limpia)

~~~Python~~~
Python

In [ ]:
# Definir una cadena con una mezcla de '.' y '-' alrededor de la palabra 'Python'
ejemplo_strip = "----------.--Py-thon----|-----.---"

# Eliminar todos los caracteres '.' y '-' de los extremos
variable_limpia = ejemplo_strip.strip(".-|")
print(variable_limpia)

# Quitamos el - del interior con replace
print(variable_limpia.replace('-',''))

Python

In [ ]:
print(ejemplo_strip)

# Eliminar solo los caracteres '.' de los extremos
# => como lo primero que hay en los extremos es '-' NO hace nada
variable_limpia = ejemplo_strip.strip(".")
print(variable_limpia)

# Eliminar solo los caracteres '-' de los extremos
variable_limpia = ejemplo_strip.strip("-")
print(variable_limpia)

# Eliminar caracteres de la izquierda
print(ejemplo_strip.lstrip(".-"))

# Eliminar caracteres de la derecha
print(ejemplo_strip.rstrip(".-|"))

print(ejemplo_strip.lstrip(".-").rstrip(".-|"))
print(ejemplo_strip.strip(".-|"))

Py-thon

In [ ]:
# Convertir la cadena a formato de t√≠tulo
# Cada palabra: su inicial se pone en mayuscula
txt = "hola, este seria un titulo de ejemplo"
print(txt.title())

# may√∫sculas por min√∫sculas y viceversa.
print(txt.title().swapcase())

Hola, Este Seria Un Titulo De Ejemplo
hOLA, eSTE sERIA uN tITULO dE eJEMPLO

#### format string

In [ ]:
nombre = 'Silvia'
edad = 26

print(f"Mi nombre es {nombre} y tengo {edad} a√±os.")

Mi nombre es Silvia y tengo 26 a√±os.

In [ ]:
nombre = 'silvia'
edad = 26

print(f"Mi nombre es {nombre} y tengo {edad} a√±os.")
print(f"Mi nombre es {nombre.capitalize()} y tengo {edad} a√±os.")

Mi nombre es silvia y tengo 26 a√±os.
Mi nombre es Silvia y tengo 26 a√±os.

En lugar de poner de indicar que vamos a formatear los string con una "f" y poner la variable directamente entre {variable}  => podemos dejarlo vac√≠o, **{}**, (placeholder) e indicar el formateo con **.format(variable)**

In [ ]:
print("Mi nombre es {} y tengo {} a√±os.".format(nombre, edad))

Mi nombre es silvia y tengo 26 a√±os.

**1. Usando f-strings:**

- f-strings (formatted string literals) permiten incluir expresiones dentro de las llaves {} que se evaluar√°n en tiempo de ejecuci√≥n.

**2. Usando el m√©todo format():**

- El m√©todo format() se utiliza para insertar valores en una cadena.

- Las llaves {} dentro de la cadena son reemplazadas por los valores pasados a format().

**3. Usando el m√©todo format() con una variable de palabra clave:**

- Aqu√≠, *altura* se pasa como una palabra clave con el valor *1.625* directamente en el m√©todo format().


 "f" = float

 {variable:.0f} : especifica 0 decimales para el valor de la variable => int

 {variable:.1f} : especifica 1 decimal para el valor de la variable

{variable:.2f} : especifica 2 decimales para el valor de la variable

In [ ]:
altura = 1.625

# 1. f-strings
print(f"Mi altura es {altura:.2f} metros.")

# 2. {} y format(variable)
# Si dejamos el espacio vacio => con format indicamos el valor a sustituir
print("Mi altura es {:.2f} metros.".format(altura))

# 3. {variable} y format(variable=valor)
print("Mi altura es {altura:.2f} metros.".format(altura=1.768))

# {altura:.2f} indica que queremos mostrar el valor de altura con dos decimales.

Mi altura es 1.62 metros.
Mi altura es 1.62 metros.
Mi altura es 1.77 metros.

In [ ]:
# Ejemplo 1 decimal
cadena_1f = "Ese armario mide {altura:.1f} metros."
print(cadena_1f.format(altura=2))

Ese armario mide 2.0 metros.

In [ ]:
# Ejemplo 0 decimales
cadena_0f = "El precio de la cafetera es de {precio:.0f} rupias." # "f" = float
print(cadena_0f.format(precio=255.99))

El precio de la cafetera es de 256 rupias.

In [ ]:
# Ejemplo strip + replace
# f-string
string_simple = '------baca'
print(f"El animal no se escribe {string_simple.lstrip('-')}, \
se dice {string_simple.replace('b','v').upper().lstrip('-')}")

El animal no se escribe baca , se dice VACA

In [ ]:
# Ejemplo strip + replace
# format
string_simple = '------baca'
print("El animal no se escribe {}, se dice {}"
      .format(string_simple.lstrip("-"), string_simple.replace('b','v').upper().lstrip("-")))

El animal no se escribe baca, se dice VACA

### 4.2. Datos num√©ricos

En Python, los tipos de datos num√©ricos m√°s comunes son int, float y complex.

- **Enteros (int):** Representan n√∫meros enteros sin decimales. Pueden ser positivos o negativos.

- **Flotantes (float):** Representan n√∫meros con decimales. Se definen utilizando un **punto** decimal.

- **Complejos (complex):** Representan n√∫meros complejos que constan de una parte real y una parte imaginaria, ambas siendo n√∫meros flotantes.

Cuando se realizan operaciones num√©ricas que involucran diferentes tipos de datos, Python realiza la **promoci√≥n de tipos** para garantizar que los resultados sean precisos y no se pierda informaci√≥n.

En la promoci√≥n de tipos, el tipo num√©rico "m√°s peque√±o" se convierte autom√°ticamente al tipo "m√°s grande" para realizar la operaci√≥n.

> int => float => complex

In [ ]:
# Ejemplos de tipos de datos num√©ricos en Python

# Definici√≥n de un n√∫mero entero (int)
numero_entero = 10
print(f"El n√∫mero: {numero_entero} es de tipo {type(numero_entero)}" )

# Definici√≥n de un n√∫mero con decimales (float)
numero_decimal = 3.5
print(f"El n√∫mero: {numero_decimal} es de tipo {type(numero_decimal)}" )

# Definici√≥n de un n√∫mero complejo (complex)
# Un n√∫mero complejo tiene una parte real y una parte imaginaria
numero_complejo = 1+2j
print(f"El n√∫mero: {numero_complejo} es de tipo {type(numero_complejo)}" )

# Para acceder a la parte real o imaginaria de un n√∫mero complejo, se hace as√≠:
# Parte real
parte_real = numero_complejo.real
print(parte_real)
#¬†Parte imaginaria
parte_imaginaria = numero_complejo.imag
print(parte_imaginaria)

# Ejemplo de impresi√≥n de las partes de un n√∫mero complejo
print(f"El n√∫mero: {numero_complejo} es de tipo {type(numero_complejo)}, \n \
su parte real es {parte_real} y su parte imaginaria es {parte_imaginaria}")

El n√∫mero: 10 es de tipo <class 'int'>
El n√∫mero: 3.5 es de tipo <class 'float'>
El n√∫mero: (1+2j) es de tipo <class 'complex'>
1.0
2.0
El n√∫mero: (1+2j) es de tipo <class 'complex'>,
 su parte real es 1.0 y su parte imaginaria es 2.0

In [ ]:
# Ejemplos de promoci√≥n de tipos
numero_entero = 10
numero_decimal = 3.5
numero_complejo = 1+2j

print("\n--------")
print(f"10 + 3.5 = {numero_entero + numero_decimal}")
print(f"El n√∫mero: {numero_entero + numero_decimal} es de tipo {type(numero_entero + numero_decimal)}" )

print("\n--------")
print(f"3.5 + 1+2j = {numero_decimal + numero_complejo}")
print(f"El n√∫mero: {numero_decimal + numero_complejo} es de tipo {type(numero_decimal + numero_complejo)}" )

print("\n--------")
print(f"10 + 1+2j = {numero_entero + numero_complejo}")
print(f"El n√∫mero: {numero_entero + numero_complejo} es de tipo {type(numero_entero + numero_complejo)}" )

--------
10 + 3.5 = 13.5
El n√∫mero: 13.5 es de tipo <class 'float'>

--------
3.5 + 1+2j = (4.5+2j)
El n√∫mero: (4.5+2j) es de tipo <class 'complex'>

--------
10 + 1+2j = (11+2j)
El n√∫mero: (11+2j) es de tipo <class 'complex'>

#### ‚≠ê Ejemplo datos num√©ricos ‚≠ê

Define en una variable el valor 25 y en otra el valor 5.5, s√∫malos e imprime tanto el resultado como el tipo de dato generado

In [ ]:
a=25
b=5.5
c=a+b

print(f"El resultado de sumar {a} + {b} = {c}, que de tipo decimal: {type(c)}")

El resultado de sumar 25 + 5.5 = 30.5, que de tipo decimal: <class 'float'>

### 4.3. Datos l√≥gicos

- Una variable booleana es un tipo de dato que puede tener uno de dos valores: True o False.

- Se utilizan en expresiones l√≥gicas y en condicionales para controlar el flujo de un programa.

**Condicionales:**

- Los condicionales son estructuras de **control de flujo** que permiten ejecutar cierto c√≥digo solo si una condici√≥n espec√≠fica se cumple.

```
if condicion:
    # c√≥digo a ejecutar si la condici√≥n es verdadera
else:
    # c√≥digo a ejecutar si la condici√≥n es falsa

 ```

In [ ]:
# Definici√≥n de variables booleanas
buleano_f = False
buleano_t = True

print(f"buleano_f: {buleano_f}, {type(buleano_f)}")
print(f"buleano_t: {buleano_t}, {type(buleano_t)}")

buleano_f: False, <class 'bool'>
buleano_t: True, <class 'bool'>

In [ ]:

# Esta secci√≥n demuestra un condicional b√°sico utilizando una variable booleana.
# Si 'buleano_t' es True,
# imprime "Soy verdadero".
# De lo contrario, imprime "No soy verdadero :("
if buleano_t:
  print("Soy verdadero :)")
else:
  print("No soy verdadero, soy falso :(")


print("-----------------------------------------")
# Si 'buleano_t' es True,
# imprime "Soy verdadero".
# De lo contrario, imprime "No soy verdadero :("

if buleano_f:
  print("Soy verdadero")
else:
  print("No soy verdadero, soy falso :(")

Soy verdadero :)
-----------------------------------------
No soy verdadero, soy falso :(

In [ ]:
# Creaci√≥n de un rango de n√∫meros del 0 al 9 y conversi√≥n a lista
rango = range(10)
lista_de_numeros = list(rango)
print(lista_de_numeros)

# Inicializaci√≥n de una lista vac√≠a
lista_de_numeros_vacia = []

# Imprime el tipo de la variable 'lista_de_numeros', que ser√≠a <class 'list'>
print(lista_de_numeros_vacia)
print(type(lista_de_numeros),type(lista_de_numeros_vacia))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[]
<class 'list'> <class 'list'>

In [ ]:
# Este condicional verifica si 'lista_de_numeros' tiene elementos.
# Una lista vac√≠a se eval√∫a a False en un contexto booleano.
# Por lo tanto, si la lista est√° vac√≠a, imprimir√° "No soy verdadero :(".
if lista_de_numeros:
  print("Soy verdadero: tengo elementos")
else:
  print("No soy verdadero: estoy vac√≠a")

print("-----------------------------------------")

if lista_de_numeros_vacia:
  print("Soy verdadero: tengo elementos")
else:
  print("No soy verdadero: estoy vac√≠a")

Soy verdadero: tengo elementos
-----------------------------------------
No soy verdadero: estoy vac√≠a

In [ ]:
# Definici√≥n de una variable con el valor None,
# que representa la "nada" o un valor nulo en Python
vacio = None

# Imprime el tipo de la variable 'vacio', que ser√≠a <class 'NoneType'>
print(type(vacio))

# Este condicional verifica si 'vacio' tiene alg√∫n valor.
# 'vacio' tiene asignado None, que se eval√∫a a False en un contexto booleano.
# Por lo tanto, imprimir√° "No soy verdadero :(".
if vacio:
  print("Soy verdadero: no tengo valor vac√≠o")
else:
  print("No soy verdadero: tengo valor null/vacio")

<class 'NoneType'>
No soy verdadero: tengo valor null/vacio

### 4.4. De recolecci√≥n ("Collection data") &#x1F4DA;

#### Listas

Una lista es una colecci√≥n ordenada y mutable de elementos. Se caracteriza por:

- **Mutables:** Los elementos de una lista pueden ser modificados despu√©s de la creaci√≥n de la lista.

- **Indexados:** Los elementos de una lista se pueden acceder mediante su √≠ndice, que comienza en 0 para el primer elemento.

- **Definidas con corchetes "[ ]":** Se utilizan corchetes para definir una lista, y los elementos de la lista se separan por comas.





- ***Funcion len(objeto):*** obtener la longitud de una lista, es decir, el n√∫mero de elementos que contiene

In [ ]:
# Creaci√≥n de listas en Python

# Lista de n√∫meros, incluye tanto enteros como flotantes

lista_numerica = [8, 55, 9.26, 3402, 15.0]

print(lista_numerica)
print(len(lista_numerica))
print(type(lista_numerica))
print(sum(lista_numerica))

[8, 55, 9.26, 3402, 15.0]
5
<class 'list'>
3489.26

In [ ]:

# Lista de cadenas de texto, algunos elementos se repiten, como ''Hogwarts','.

lista_string = ['Hogwarts', 'Dumbledore', 'Harry', 'Hedwig', 'Quidditch', 'Voldemort', 'Hermione',
                'Slytherin', 'Gryffindor', 'Hogsmeade', 'Hogwarts', 'Butterbeer', 'Harry' 'Expelliarmus',
                'Patronus', 'Muggle', 'Ron', 'Deathly Hallows', 'Azkaban', 'Hogwarts','Polyjuice Potion']

print(lista_string)
print(len(lista_string))
print(type(lista_string))

['Hogwarts', 'Dumbledore', 'Harry', 'Hedwig', 'Quidditch', 'Voldemort', 'Hermione', 'Slytherin', 'Gryffindor', 'Hogsmeade', 'Hogwarts', 'Butterbeer', 'HarryExpelliarmus', 'Patronus', 'Muggle', 'Ron', 'Deathly Hallows', 'Azkaban', 'Hogwarts', 'Polyjuice Potion']
20
<class 'list'>

In [ ]:
# Lista mixta que contiene cadenas de texto y n√∫meros
lista_mixta = ['pontia', 4, 137.5, 'hello']

print(lista_mixta)
print(len(lista_mixta))
print(type(lista_mixta))

['pontia', 4, 137.5, 'hello']
4
<class 'list'>

In [ ]:
# Para acceder a los elementos: index
print(f"El primer elemento de nuestra lista, index 0, es: {lista_mixta[0]}")

print(f"El segundo elemento de nuestra lista, index 1, es: {lista_mixta[1]}")

print(f"El tercer elemento de nuestra lista, index 2, es: {lista_mixta[2]}")

print(f"El cuarto elemento de nuestra lista, index 3, es: {lista_mixta[3]}")

El primer elemento de nuestra lista, index 0, es: pontia
El segundo elemento de nuestra lista, index 1, es: 4
El tercer elemento de nuestra lista, index 2, es: 137.5
El cuarto elemento de nuestra lista, index 3, es: hello

In [ ]:
# Lista mixta que contiene cadenas de texto, n√∫meros, y otra lista.
lista_mixta = ['pontia', 4, 137.5, lista_numerica]

print(lista_mixta)
print(len(lista_mixta))
print(type(lista_mixta))

['pontia', 4, 137.5, [8, 55, 9.26, 3402, 15.0]]
4
<class 'list'>

In [ ]:
print(lista_mixta)
# Para acceder a los elementos: index
print(f"El primer elemento de nuestra lista, index 0, es: {lista_mixta[0]}")

print(f"El segundo elemento de nuestra lista, index 1, es: {lista_mixta[1]}")

print(f"El tercer elemento de nuestra lista, index 2, es: {lista_mixta[2]}")

print(f"El cuarto elemento de nuestra lista, index 3, es: {lista_mixta[3]}")

['pontia', 4, 137.5, [8, 55, 9.26, 3402, 15.0]]
El primer elemento de nuestra lista, index 0, es: pontia
El segundo elemento de nuestra lista, index 1, es: 4
El tercer elemento de nuestra lista, index 2, es: 137.5
El cuarto elemento de nuestra lista, index 3, es: [8, 55, 9.26, 3402, 15.0]

In [ ]:
# El cuarto elemento es una lista que contiene elementos propios, pero todos ellos
# son el elemento 4 de nuestra lista_mixta
print(len(lista_mixta[3]))
print(lista_mixta[3])

print(f"El primer elemento de la lista dentro de nuestra lista (nested), index 0, es: {lista_mixta[3][0]}")

5
[8, 55, 9.26, 3402, 15.0]
El primer elemento de la lista dentro de nuestra lista (nested), index 0, es: 8

In [ ]:
# Lista de una lista
lista = [['pontia', 4, 137.5]]
print(len(lista))

# Accede e imprime el segundo elemento de 'lista_numerica' (√≠ndices comienzan en 0), que es 55.
print(lista[0])

# Acceder a la lista dentro de la lista => dos indices
print(lista[0][0])

1
['pontia', 4, 137.5]
pontia

##### Slicing

La manipulaci√≥n de indexaci√≥n o **slicing** en Python permite extraer subsecciones de listas, cadenas y otros tipos de secuencias. Esta t√©cnica es muy √∫til para acceder a segmentos espec√≠ficos de datos de manera concisa y eficiente.


La sintaxis b√°sica para el slicing es:

`secuencia[start:stop:step]`

- **start:** El √≠ndice donde comienza el slicing (incluido).
- **stop:** El √≠ndice donde termina el slicing (excluido).
- **step:** El tama√±o del paso entre elementos (opcional).


Si start no se especifica, se asume que es el inicio de la secuencia. Si stop no se especifica, se asume que es el final de la secuencia. Si step no se especifica, se asume que es 1.

In [ ]:
### Manipulaci√≥n de indexaci√≥n - START STOP STEP

# Lista de n√∫meros, incluye tanto enteros como flotantes.
lista_numerica = [8, 55, 9.26, 3402, 15.0]

# Acceder a los primeros dos elementos de 'lista_numerica' usando slicing.
primeros_dos_elementos = lista_numerica[:3]
print(f"Los primeros dos elementos de nuestra lista numerica: {lista_numerica} son: \n {primeros_dos_elementos}")

# omitimos el √≠ndice de inicio, lo que significa que comenzamos desde el primer elemento.
# Usamos 3 como √≠ndice de parada, lo que selecciona los elementos desde el inicio hasta el tercer elemento (√≠ndice 2).

Los primeros dos elementos de nuestra lista numerica: [8, 55, 9.26, 3402, 15.0] son:
 [8, 55, 9.26]

In [ ]:
# Obtener el tercer y cuarto elemento de 'lista_numerica'
tercer_y_cuarto = lista_numerica[2:4]
print(f"Los elementos tres y cuatro de nuestra lista numerica: {lista_numerica} son: \n {tercer_y_cuarto}")

# El √≠ndice de inicio es 2 (tercer elemento, ya que el conteo inicia en 0)
# y el √≠ndice de parada es 4, excluyendo el cuarto elemento.

Los elementos tres y cuatro de nuestra lista numerica: [8, 55, 9.26, 3402, 15.0] son:
 [9.26, 3402]

In [ ]:
# Acceder a los √∫ltimos dos elementos de 'lista_numerica'.
ultimos_dos_elementos = lista_numerica[-2:]
print(f"Los dos √∫ltimos elementos de nuestra lista numerica: {lista_numerica} son: \n {ultimos_dos_elementos}")

# El √≠ndice de inicio es -2, lo que significa que comienza desde el segundo elemento contando desde el final.
# No se especifica el √≠ndice de parada, por lo que se incluyen todos los elementos hasta el final de la lista.

Los dos √∫ltimos elementos de nuestra lista numerica: [8, 55, 9.26, 3402, 15.0] son:
 [3402, 15.0]

##### Manipulaci√≥n de izda ‚ü∫ dcha

In [ ]:
### Izquierda a Derecha
lista_numerica = [8, 55, 9.26, 3402, 15.0]

# Crea una copia de 'lista_numerica' sin modificarla,
# recorriendo de izquierda a derecha con un paso de 1
lista_normal = lista_numerica[::1]
print("Lista normal: ", lista_normal)

# Aqu√≠, start y stop no est√°n especificados, por lo que se toma toda la lista.
# step es 1, recorriendo la lista en orden normal

# Obtiene elementos de 'lista_numerica' con una zancada de 2,
# es decir, selecciona cada segundo elemento de la lista
lista_zancada = lista_numerica[::2]
print("Lista de dos en dos:  ", lista_zancada)

# start y stop no est√°n especificados, por lo que se toma toda la lista.
# step es 2, seleccionando cada segundo elemento

Lista normal:  [8, 55, 9.26, 3402, 15.0]
Lista de dos en dos:   [8, 9.26, 15.0]

In [ ]:
### Derecha a Izquierda
lista_numerica = [8, 55, 9.26, 3402, 15.0]

# Invierte 'lista_numerica', recorriendo la lista de derecha a izquierda con un paso de -1.
lista_invertida = lista_numerica[::-1]
print("Lista invertida: ",lista_invertida)

# start y stop no est√°n especificados, por lo que se toma toda la lista.
# step es -1, recorriendo la lista en orden inverso.

Lista invertida:  [15.0, 3402, 9.26, 55, 8]

##### üéà Ejercicio lista - slicing üéà

Crea la lista de famosos que contenga:


> "Tom Hanks", "Emma Watson", "Morgan Freeman", "Scarlett Johansson", "Will Smith"


1. Accede a los primeros cuatro elementos de la lista.
2. Accede al segundo y tercer elemento de la lista.
3. Accede al √∫ltimo elemento de la lista.
4. Accede a los elementos desde el segundo hasta el pen√∫ltimo.
5. Crea una copia de 'lista_famosos' recorri√©ndola de izquierda a derecha con un paso de 1.
6. Obt√©n elementos de 'lista_famosos' con una zancada de 3, es decir, selecciona cada tercer elemento de la lista.
7. Invierte 'lista_famosos', recorri√©ndola de derecha a izquierda con un paso de -1.

In [ ]:
lista_famosos =

# 1. Accede a los primeros cuatro elementos de la lista.


# 2. Accede al segundo y tercer elemento de la lista.

# 3. Accede al √∫ltimo elemento de la lista.

# 4. Accede a los elementos desde el segundo hasta el pen√∫ltimo.

# 5. Crea una copia de 'lista_famosos' recorri√©ndola de izquierda a derecha con un paso de 1.

# 6. Obt√©n elementos de 'lista_famosos' con una zancada de 3, es decir, selecciona cada tercer elemento de la lista.

# 7. Invierte 'lista_famosos', recorri√©ndola de derecha a izquierda con un paso de -1.

##### Otras funciones

Las listas en Python son **mutables**, lo que significa que se pueden modificar despu√©s de su creaci√≥n.

La clase list incluye varios m√©todos para manipular las listas de diferentes maneras.

1. **append(x):** A√±ade un elemento x al final de la lista.
2. **extend(iterable):** Extiende la lista a√±adiendo todos los elementos de un iterable.
3. **insert(i, x):** Inserta un elemento x en la posici√≥n i.
4. **remove(x):** Elimina el primer elemento de la lista cuyo valor sea x.
5. **pop([i]):** Elimina y devuelve el elemento en la posici√≥n i. Si no se especifica i, elimina y devuelve el √∫ltimo elemento.
6. **index(x, [start, [end]]):** Devuelve el √≠ndice del primer elemento cuyo valor sea x. Opcionalmente se puede especificar un rango start a end para la b√∫squeda.
7. **count(x):** Devuelve el n√∫mero de veces que el valor x aparece en la lista.
8. **sort(key=None, reverse=False):** Ordena los elementos de la lista en su lugar (los argumentos key y reverse son opcionales).
9. **reverse():** Invierte los elementos de la lista en su lugar.
10. **clear():** Elimina todos los elementos de la lista.

In [ ]:
# Lista de cadenas de texto relacionadas con Harry Potter.
lista_string = ["Hogwarts", "Hermione", "Hagrid", "Dumbledore", "Slytherin"]
lista_string

['Hogwarts', 'Hermione', 'Hagrid', 'Dumbledore', 'Slytherin']

In [ ]:
# 1. append(x): A√±ade un elemento x al final de la lista

# A√±ade 'Griffindor' al final de 'lista_string'.
lista_string.append("Griffindor")
print("Despu√©s de append:", lista_string)

# no podemos a√±adir 2 elementos => error
# list.append() takes exactly one argument (2 given)
# lista_string.append("Ravenclaw", "Hufflepuff")

# podriamos incluir una lista dentro de la lista:
lista_string.append(["Harry", "Potter"])
print("Despu√©s de append una lista:", lista_string)
len(lista_string)

Despu√©s de append: ['Hagrid', 'Hogwarts', 'Hermione', 'Slytherin', 'Dumbledore', 'Griffindor']
Despu√©s de append una lista: ['Hagrid', 'Hogwarts', 'Hermione', 'Slytherin', 'Dumbledore', 'Griffindor', ['Harry', 'Potter']]

7

In [ ]:
# 2. extend(iterable): Extiende la lista a√±adiendo todos los elementos de un iterable.

# A√±ade "Ravenclaw" y "Hufflepuff" al final de la lista
lista_string.extend(["Ravenclaw", "Hufflepuff"])
print("Despu√©s de extend:", lista_string)

# con extend podemos a√±adir varios registros sin tenerlos en lista

Despu√©s de extend: ['Hagrid', 'Hogwarts', 'Hermione', 'Slytherin', 'Dumbledore', 'Griffindor', ['Harry', 'Potter'], 'Ravenclaw', 'Hufflepuff']

In [ ]:
# 3. insert(i, x): Inserta un elemento x en la posici√≥n i.

# Inserta "Hagrid" en la segunda posici√≥n (√≠ndice 1).
lista_string.insert(1, "Hagrid")
print("Despu√©s de insert:", lista_string)

Despu√©s de insert: ['Hagrid', 'Hagrid', 'Hogwarts', 'Hermione', 'Slytherin', 'Dumbledore', 'Griffindor', ['Harry', 'Potter'], 'Ravenclaw', 'Hufflepuff']

In [ ]:
# 4. remove(x): Elimina el primer elemento de la lista cuyo valor sea x.

# Elimina "Hagrid" de la lista.
lista_string.remove("Hagrid")
print("Despu√©s de remove:", lista_string)

# Elimina el PRIMER elemento cuyo valor sea "Hagrid".

Despu√©s de remove: ['Hagrid', 'Hogwarts', 'Hermione', 'Slytherin', 'Dumbledore', 'Griffindor', ['Harry', 'Potter'], 'Ravenclaw', 'Hufflepuff']

In [ ]:
# 5. pop([i]): Elimina y devuelve el elemento en la posici√≥n i.
# Si no se especifica i, elimina y devuelve el √∫ltimo elemento.

# Elimina y devuelve el √∫ltimo elemento de la lista.
ultimo_elemento = lista_string.pop()
print("Elemento eliminado con pop:", ultimo_elemento)
print("Despu√©s de pop:", lista_string)

# Indicando el indice => queremos quitar la lista
ultimo_elemento = lista_string.pop(-2)
print("Elemento eliminado con pop:", ultimo_elemento)
print("Despu√©s de pop:", lista_string)

Elemento eliminado con pop: Hufflepuff
Despu√©s de pop: ['Hagrid', 'Hogwarts', 'Hermione', 'Slytherin', 'Dumbledore', 'Griffindor', ['Harry', 'Potter'], 'Ravenclaw']
Elemento eliminado con pop: ['Harry', 'Potter']
Despu√©s de pop: ['Hagrid', 'Hogwarts', 'Hermione', 'Slytherin', 'Dumbledore', 'Griffindor', 'Ravenclaw']

In [ ]:
# 6. index(x, [start, [end]]): Devuelve el √≠ndice del primer elemento cuyo valor sea x.
# Opcionalmente se puede especificar un rango start a end para la b√∫squeda.

# Encuentra el √≠ndice del elemento "Dumbledore".
indice_dumbledore = lista_string.index("Dumbledore")
print("√çndice de 'Dumbledore':", indice_dumbledore)

√çndice de 'Dumbledore': 4

In [ ]:
# 7. count(x): Devuelve el n√∫mero de veces que el valor x aparece en la lista.
print(lista_string)
# Cuenta cu√°ntas veces aparece "Slytherin" en la lista.
contador_slytherin = lista_string.count("Slytherin")
print("N√∫mero de veces que aparece 'Slytherin':", contador_slytherin)

# Introducimos Slytherin para comprobar como hace el count
lista_string.insert(0, "Slytherin")
print("\nDespu√©s de insert:", lista_string)

contador_slytherin = lista_string.count("Slytherin")
print("N√∫mero de veces que aparece 'Slytherin':", contador_slytherin)

['Hagrid', 'Hogwarts', 'Hermione', 'Slytherin', 'Dumbledore', 'Griffindor', 'Ravenclaw']
N√∫mero de veces que aparece 'Slytherin': 1

Despu√©s de insert: ['Slytherin', 'Hagrid', 'Hogwarts', 'Hermione', 'Slytherin', 'Dumbledore', 'Griffindor', 'Ravenclaw']
N√∫mero de veces que aparece 'Slytherin': 2

In [ ]:
# 8. sort(key=None, reverse=False): Ordena los elementos de la lista en su lugar
# (los argumentos key y reverse son opcionales).

# Ordena la lista alfab√©ticamente de A a Z.
lista_string.sort()
print("Despu√©s de sort:", lista_string)

# Ordena la lista por longitud.
lista_string.sort(key= len)
print("Despu√©s de sort con len:", lista_string)

# Ordena la lista alfab√©ticamente de Z a A.
lista_string.sort(reverse=True)
print("Despu√©s de sort en reverse:", lista_string)


lista_numeros = [-5, -2, 3, 1, 4]
print("\nOriginal:", lista_numeros)

lista_numeros.sort(key=abs)
print("Despu√©s de sort por absolutos:", lista_numeros)

lista_numeros.sort()
print("Despu√©s de sort (menor a mayor):", lista_numeros)

lista_numeros.sort(reverse=True)
print("Despu√©s de sort (mayor a menor):", lista_numeros)

Despu√©s de sort: ['Dumbledore', 'Griffindor', 'Hagrid', 'Hermione', 'Hogwarts', 'Ravenclaw', 'Slytherin', 'Slytherin']
Despu√©s de sort con len: ['Hagrid', 'Hermione', 'Hogwarts', 'Ravenclaw', 'Slytherin', 'Slytherin', 'Dumbledore', 'Griffindor']
Despu√©s de sort en reverse: ['Slytherin', 'Slytherin', 'Ravenclaw', 'Hogwarts', 'Hermione', 'Hagrid', 'Griffindor', 'Dumbledore']

Original: [-5, -2, 3, 1, 4]
Despu√©s de sort por absolutos: [1, -2, 3, 4, -5]
Despu√©s de sort (menor a mayor): [-5, -2, 1, 3, 4]
Despu√©s de sort (mayor a menor): [4, 3, 1, -2, -5]

In [ ]:
# 9. reverse(): Invierte los elementos de la lista en su lugar.

# Invierte el orden de los elementos de la lista.
lista_string.reverse()
print("Despu√©s de reverse:", lista_string)

Despu√©s de reverse: ['Dumbledore', 'Griffindor', 'Hagrid', 'Hermione', 'Hogwarts', 'Ravenclaw', 'Slytherin', 'Slytherin']

In [ ]:
# 10. clear(): Elimina todos los elementos de la lista.

# Elimina todos los elementos de la lista original.
lista_string.clear()
print("Despu√©s de clear:", lista_string)

Despu√©s de clear: []

**.sort()**

- Es un m√©todo que se aplica directamente a una lista.
- In-place: Modifica la lista original, orden√°ndola en el lugar. No devuelve una nueva lista.
- Retorno: Devuelve None.
- Sintaxis: `lista.sort(key=None, reverse=False)`


**sorted()**

- Es una funci√≥n incorporada que se puede aplicar a cualquier iterable, no solo listas.
- No in-place: No modifica el iterable original. Devuelve una nueva lista ordenada.
- Retorno: Devuelve una nueva lista ordenada.
- Sintaxis: `sorted(iterable, key=None, reverse=False)`
iterable: Cualquier iterable (lista, tupla, conjunto, etc.).

In [ ]:
# Lista original
lista_numeros = [3, 1, 4, 1, 5, 9, 2]

# Ordenar la lista en el lugar
lista_numeros.sort()
print("Despu√©s de .sort():", lista_numeros)

# Lista original
lista_numeros = [3, 1, 4, 1, 5, 9, 2]

# Ordenar usando sorted() y devolver una nueva lista
nueva_lista = sorted(lista_numeros)
print("Despu√©s de sorted():", nueva_lista)
print("Lista original:", lista_numeros)


# .sort() => cuando quieres ordenar una lista en su lugar sin crear una nueva lista
# sorted() => cuando quieres obtener una nueva lista ordenada sin modificar la lista original

Despu√©s de .sort(): [1, 1, 2, 3, 4, 5, 9]
Despu√©s de sorted(): [1, 1, 2, 3, 4, 5, 9]
Lista original: [3, 1, 4, 1, 5, 9, 2]

##### üéà Ejercicio manipulaci√≥n listas: Harry Potter üéà

Crea una lista con personajes del mundo de Harry Potter:


> "Harry", "Hermione", "Ron", "Dumbledore", "Snape", "Voldemort"

Realiza las siguientes operaciones sobre la lista utilizando los m√©todos de listas de Python:

1. A√±ade el personaje "Hagrid" al final de la lista.
2. Extiende la lista con los personajes ["Luna", "Neville"].
3. Inserta el personaje "Ginny" en la tercera posici√≥n de la lista.
4. Elimina el personaje "Snape" de la lista.
5. Elimina y devuelve el primer elemento de la lista.
6. Encuentra el √≠ndice del personaje "Voldemort" en la lista.
7. Cuenta cu√°ntas veces aparece el personaje "Harry" en la lista.
8. Ordena la lista en orden alfab√©tico.
9. Invierte el orden de los elementos de la lista.
10. Elimina todos los elementos de la lista original.

In [ ]:
# Lista de personajes de Harry Potter
personajes_hp =

# 1. A√±ade "Hagrid" al final de la lista.

# 2. Extiende la lista con los personajes ["Luna", "Neville"].

# 3. Inserta "Ginny" en la tercera posici√≥n.

# 4. Elimina "Snape" de la lista.

# 5. Elimina y devuelve el primer elemento de la lista.

# 6. Encuentra el √≠ndice del personaje "Voldemort".

# 7. Cuenta cu√°ntas veces aparece "Harry" en la lista.

# 8. Ordena la lista en orden alfab√©tico.

# 9. Invierte el orden de los elementos de la lista.

# 10. Elimina todos los elementos de la lista original.

##### Copias

En Python, podemos hablar de **copias superficiales** (shallow copies) y **copias profundas** (deep copies) de listas:

**1. Copia Superficial (Shallow Copy):**

- Una copia superficial de una lista crea una nueva lista, pero no copia los objetos que contiene la lista original.
- En lugar de eso, **copia las referencias** a esos objetos.
- Esto significa que si los objetos contenidos en la lista original son mutables y se modifican, los cambios se **reflejar√°n** tanto en la lista original como en la copia superficial.
  - Los elementos anidados (como listas dentro de listas) se referencian, no se copian. Modificaciones en estos elementos se reflejan en ambas listas.
  - Los elementos a nivel superior (sin anidar) se copian como nuevas referencias. Cambios en estos elementos no afectan a la lista original.

**2. Copia Profunda (Deep Copy):**

- Una copia profunda de una lista crea una nueva lista y **copia todos los objetos** que contiene la lista original.
- Esto significa que se crean copias *independientes* de todos los objetos y sub-objetos contenidos en la lista original.
- Los cambios en los objetos mutables dentro de la lista original **no** afectar√°n a la copia profunda.


=> var√≠an en c√≥mo se manejan las referencias a los objetos dentro de las listas

In [ ]:
import copy

In [ ]:
# Lista original
original = [0, [1, 2, 3], [4, 5, 6]]

# Copia superficial de la lista
copia_superficial = copy.copy(original)

# modificamos el valor del primer elemento
copia_superficial[0] = 'bye-bye'
print("Original:", original)  # Original: [0, ['1', 2, 3], [4, 5, 6]]
print("Copia superficial:", copia_superficial)  # Copia superficial: ['bye-bye',['1', 2, 3], [4, 5, 6], 'hello']

Original: [0, [1, 2, 3], [4, 5, 6]]
Copia superficial: ['bye-bye', [1, 2, 3], [4, 5, 6]]

In [ ]:
# Si a√±adimos nuevos elementos, NO se crean las nuevas referencias en la lista original
copia_superficial.append('hello')

print("Original:", original)  # Original: [['A', 2, 3], [4, 5, 6]]
print("Copia superficial:", copia_superficial)  # Copia superficial: [['A', 2, 3], [4, 5, 6], 'hello']

Original: [0, [1, 2, 3], [4, 5, 6]]
Copia superficial: ['bye-bye', [1, 2, 3], [4, 5, 6], 'hello']

In [ ]:
# Modificamos un elemento anidado de la copia superficial
copia_superficial[1][0] = 'A'

# La modificaci√≥n se refleja en ambas listas
print("Original:", original)  # Original: [0, ['A', 2, 3], [4, 5, 6]]
print("Copia superficial:", copia_superficial)  # Copia superficial: [0, ['A', 2, 3], [4, 5, 6]]

Original: [0, ['A', 2, 3], [4, 5, 6]]
Copia superficial: ['bye-bye', ['A', 2, 3], [4, 5, 6], 'hello']

In [ ]:
# Lista original
original = [[1, 2, 3], [4, 5, 6]]

# Copia profunda de la lista
copia_profunda = copy.deepcopy(original)

# Modificamos un elemento de la copia profunda
copia_profunda[0][0] = 'A'

# La modificaci√≥n no se refleja en la lista original
print("Original:", original)  # Original: [[1, 2, 3], [4, 5, 6]]
print("Copia profunda:", copia_profunda)  # Copia profunda: [['A', 2, 3], [4, 5, 6]]

Original: [[1, 2, 3], [4, 5, 6]]
Copia profunda: [['A', 2, 3], [4, 5, 6]]

Otras formas de hacer una copia superficial:

- Usando el m√©todo **list.copy()**
- Usando la funci√≥n **list()**
- Usando **slicing**

In [ ]:
original = [1, 2, 3]
print("original:", original)

# list.copy()
copia_1 = original.copy()
print("\ncopia_1:", copia_1)

# list()
copia_2 = list(original)
print("\ncopia_2:", copia_2)

# slicing
copia_3 = original[:]
print("\ncopia_3:", copia_3)

# Todos estos m√©todos crean copias superficiales

original: [1, 2, 3]

copia_1: [1, 2, 3]

copia_2: [1, 2, 3]

copia_3: [1, 2, 3]

- **Copia superficial (shallow copy):** Copia los elementos de la lista original por referencia. Cambios en elementos mutables se reflejan en ambas listas.

- **Copia profunda (deep copy):** Crea copias independientes de todos los elementos, incluyendo sub-objetos. Cambios en la copia no afectan la lista original.

- Usar la copia adecuada depende del caso espec√≠fico y de si necesitas que los objetos internos sean **independientes** entre la copia y la lista original.

##### split + join

Podemos necesitar convertir una cadena de texto en una lista de palabras y viceversa. Esto se puede lograr utilizando los m√©todos .split() y .join(), respectivamente.

**Conversi√≥n de String a Lista**

- **.split()** se usa para dividir una cadena en una lista de subcadenas basadas en un delimitador especificado.
- Por defecto, el delimitador es un espacio en blanco.

`str.split(sep=None, maxsplit=-1)`

- *sep:* Especifica el delimitador. Si se omite, los espacios en blanco se utilizan como delimitador.
- *maxsplit:* Especifica el n√∫mero m√°ximo de divisiones. Si se omite, todas las posibles divisiones se realizar√°n.

**Conversi√≥n de Lista a String**

- **.join()** se usa para combinar una lista de cadenas en una sola cadena, intercalando un separador entre los elementos.

`str.join(iterable)`

- *iterable:* Un iterable que contiene las subcadenas que se van a unir.

In [ ]:
# Definici√≥n de una cadena de texto.
txt = """Soy un ejemplo de texto."""
print("texto original: ", txt)

# El m√©todo .split() divide la cadena en palabras utilizando espacios como separadores por defecto
print("\n El m√©todo split:")
# Convierte la cadena 'txt' en una lista 'txt_lista',
# donde cada palabra se convierte en un elemento de la lista.
txt_lista = txt.split()

# Imprime la lista resultante para ver las palabras de 'txt' como elementos individuales.
print("txt_lista: ", txt_lista)  # Salida: ['Soy', 'un', 'ejemplo', 'de', 'texto.']

# El m√©todo .join() toma una lista de cadenas y las concatena en una sola cadena,
# utilizando la cadena sobre la que se llama ('--' en este caso) como separador.
print("\n El m√©todo join:")

# Combina los elementos de 'txt_lista' en una nueva cadena 'x', intercalando '--' entre cada palabra.
x = '--'.join(txt_lista)

# Imprime la cadena resultante para ver el efecto del m√©todo .join().
print("x: ", x)  # Salida: 'Soy--un--ejemplo--de--texto.'

texto original:  Soy un ejemplo de texto.

 El m√©todo split:
txt_lista:  ['Soy', 'un', 'ejemplo', 'de', 'texto.']

 El m√©todo join:
x:  Soy--un--ejemplo--de--texto.

#### Diccionarios

Un diccionario es una colecci√≥n desordenada y mutable de pares de clave-valor:


- **Sintaxis con llaves {}:** Se definen encerrando sus elementos entre llaves.
- **Pares clave-valor:** Cada elemento en un diccionario es un par de clave y valor (clave: valor) (key:value).
- **Mutables:** Su contenido puede cambiar durante la ejecuci√≥n del programa.
- **No secuenciales:** *No est√°n ordenados o indexados por un n√∫mero de secuencia, lo que significa que no se accede a sus elementos mediante un √≠ndice num√©rico.
  
    - Los diccionarios usan claves (key) para acceder a los valores (values), en lugar de los √≠ndices num√©ricos que tienen las listas


- **Claves √∫nicas e inmutables:** Las claves deben ser de un tipo de dato inmutable, como cadenas, n√∫meros o tuplas que contengan solo objetos inmutables. Cada clave es √∫nica dentro de un diccionario.

    - Como las claves han de ser √∫nicas => NO se aceptan duplicado de claves => NO se puede repitir la misma key en un diccionario

<font color='lightblue'>*Si no hay indexaci√≥n, no se aceptan duplicado de valores (en este caso, duplicado de claves).

In [ ]:
# 1. Creaci√≥n de diccionarios:

diccionario_vacio = {}

print(f"El diccionario vac√≠o no tiene nada en su interior: {diccionario_vacio}, \n \
pero como lo hemos definido entre llaves, su tipo indica que es un {type(diccionario_vacio)}")

diccionario_con_valores = {
    "clave1": "valor1",
    "clave2": "valor2"
}

print(f"\nEl diccionario con valores es: \n {diccionario_con_valores}")

El diccionario vac√≠o no tiene nada en su interior: {},
 pero como lo hemos definido entre llaves, su tipo indica que es un <class 'dict'>

El diccionario con valores es:
 {'clave1': 'valor1', 'clave2': 'valor2'}

In [ ]:
# 2. Acceso a valores

# Acceso directo
valor_1 = diccionario_con_valores["clave1"]
print(f"El valor de la clave1 es: {valor_1}")

# M√©todo get
valor_2 = diccionario_con_valores.get("clave2")
print(f"El valor de la clave1 es: {valor_2}")

El valor de la clave1 es: valor1
El valor de la clave1 es: valor2

In [ ]:
# 3. Actualizaci√≥n y A√±adido de Claves/Valores

# A√±adir una nueva clave-valor
diccionario_con_valores["clave3"] = "valor3"
print(f"El diccionario con una nueva key-value: \n {diccionario_con_valores}")

# Usar update para a√±adir o actualizar
diccionario_con_valores.update({"clave4": "valor4"})
print(f"\nEl diccionario actualizado con una nueva key-value: \n {diccionario_con_valores}")

El diccionario con una nueva key-value:
 {'clave1': 'valor1', 'clave2': 'valor2', 'clave3': 'valor3'}

El diccionario actualizado con una nueva key-value:
 {'clave1': 'valor1', 'clave2': 'valor2', 'clave3': 'valor3', 'clave4': 'valor4'}

In [ ]:
# 4. Eliminar Claves/Valores

# Eliminar usando pop
diccionario_con_valores.pop("clave3")
print(f"El diccionario usando pop para eliminar la clave3: \n {diccionario_con_valores}")

 # Eliminar usando del
del diccionario_con_valores["clave2"]
print(f"\nEl diccionario usando del para eliminar la clave2: \n {diccionario_con_valores}")


# Vaciar el diccionario
diccionario_con_valores.clear()
print(f"\nEl diccionario tras vaciarlo con clear: \n {diccionario_con_valores}")

El diccionario usando pop para eliminar la clave3:
 {'clave1': 'valor1', 'clave2': 'valor2', 'clave4': 'valor4'}

El diccionario usando del para eliminar la clave2:
 {'clave1': 'valor1', 'clave4': 'valor4'}

El diccionario tras vaciarlo con clear:
 {}

Otros m√©todos √∫tiles:

- **copy():** Devuelve una copia superficial del diccionario.
- **keys():** Devuelve una vista de todas las claves en el diccionario.
- **values():** Devuelve una vista de todos los valores en el diccionario.
- **items():** Devuelve una vista de pares clave-valor en el diccionario.
- **setdefault():** Devuelve el valor de una clave si existe, de lo contrario inserta la clave con un valor dado.
- **fromkeys():** Crea un nuevo diccionario con claves de un iterable y un valor predeterminado.

##### ‚≠ê Ejemplo dict plantas ‚≠ê

In [ ]:
# Uso de Diccionarios para Relacionar Plantas con Estaciones

# Se define un diccionario con varias plantas y la estaci√≥n en la que florecen.
diccionario_plantas = {
    "Rosa": "Primavera",
    "Lirio": "Primavera",
    "Girasol": "Verano",
    "Poinsettia": "Invierno"
}

print("Diccionario plantas: " , diccionario_plantas)

Diccionario plantas:  {'Rosa': 'Primavera', 'Lirio': 'Primavera', 'Girasol': 'Verano', 'Poinsettia': 'Invierno'}
Diccionario actualizado de plantas y sus estaciones de floraci√≥n: {'Rosa': 'Primavera', 'Lirio': 'Primavera', 'Girasol': 'Verano', 'Poinsettia': 'Invierno', 'Cal√©ndula': 'Oto√±o'}

In [ ]:
# Agrega un nuevo par clave-valor al diccionario,
# asignando "Oto√±o" como la estaci√≥n de la "Cal√©ndula".
diccionario_plantas["Cal√©ndula"] = "Oto√±o"

# Al imprimir 'diccionario_plantas',
# ahora incluir√° tambi√©n la "Cal√©ndula" y su correspondiente estaci√≥n, "Oto√±o".
print("Diccionario actualizado de plantas y sus estaciones de floraci√≥n: \n", diccionario_plantas)

Diccionario actualizado de plantas y sus estaciones de floraci√≥n:
 {'Rosa': 'Primavera', 'Lirio': 'Primavera', 'Girasol': 'Verano', 'Poinsettia': 'Invierno', 'Cal√©ndula': 'Oto√±o'}


##### ‚≠ê Ejemplo dict mascotas ‚≠ê

Imagina que eres el encargado de mantener el inventario de una tienda de mascotas que se especializa en distintas razas de perros y gatos. Necesitas realizar varias operaciones para actualizar y manejar este inventario utilizando diccionarios en Python.

In [ ]:
# Las claves han de ser UNICAS
# NO se puede repetir la "clave", pero si los "valores"
# si se repite la misma clave => se va sobreescribiendo => nos quedamos con la ultima referencia

razas = {"perro": "Dachshund",
         "perro": "Labrador",
         "gato": "Siam√©s",
         "gato": "Persa",
         "gato": "Bengal"
         }

razas

{'perro': 'Labrador', 'gato': 'Bengal'}

In [ ]:
# SI podemos tener diferentes claves que tengan asignado el mismo valor 'perro' o 'gato'
# Creaci√≥n del diccionario inicial con algunas razas de perros y gatos.
dic_razas = {"Labrador": "perro",
             "Golden Retriever": "perro",
             "Galgo": "perro",
             "Siam√©s": "gato",
             "Persa": "gato",
             "Sphynx": "gato"}

dic_razas

{'Labrador': 'perro',
 'Golden Retriever': 'perro',
 'Galgo': 'perro',
 'Siam√©s': 'gato',
 'Persa': 'gato',
 'Sphynx': 'gato'}

In [ ]:
# Contamos cuantos pares de key-value tenemos
len(dic_razas)

6

In [ ]:
# A√±adir una nueva entrada para la raza "Beagle".
dic_razas["Beagle"] = "perro"
dic_razas

{'Labrador': 'perro',
 'Golden Retriever': 'perro',
 'Galgo': 'perro',
 'Siam√©s': 'gato',
 'Persa': 'gato',
 'Sphynx': 'gato',
 'Beagle': 'perro'}

In [ ]:
# Actualizar el diccionario utilizando el m√©todo update para a√±adir "Bengal".
dic_razas.update({"Bengal": "gato"})
dic_razas

{'Labrador': 'perro',
 'Golden Retriever': 'perro',
 'Galgo': 'perro',
 'Siam√©s': 'gato',
 'Persa': 'gato',
 'Sphynx': 'gato',
 'Beagle': 'perro',
 'Bengal': 'gato'}

In [ ]:
# Copia superficial: usando el m√©todo copy()

# Crear una copia superficial del diccionario.
copia_dic_razas = dic_razas.copy()
print("Copia:", copia_dic_razas)

# Modificar la copia
copia_dic_razas["Labrador"] = "animal"

# Mostrar ambos diccionarios
print("\nOriginal:", dic_razas)
print("\nCopia:", copia_dic_razas)

Copia: {'Labrador': 'perro', 'Golden Retriever': 'perro', 'Galgo': 'perro', 'Siam√©s': 'gato', 'Persa': 'gato', 'Sphynx': 'gato', 'Beagle': 'perro', 'Bengal': 'gato'}

Original: {'Labrador': 'perro', 'Golden Retriever': 'perro', 'Galgo': 'perro', 'Siam√©s': 'gato', 'Persa': 'gato', 'Sphynx': 'gato', 'Beagle': 'perro', 'Bengal': 'gato'}

Copia: {'Labrador': 'animal', 'Golden Retriever': 'perro', 'Galgo': 'perro', 'Siam√©s': 'gato', 'Persa': 'gato', 'Sphynx': 'gato', 'Beagle': 'perro', 'Bengal': 'gato'}

In [ ]:
# Obtener claves, valores y pares clave-valor
# usando los m√©todos keys(), values() e items(), respectivamente.
print("Diccionario: ", dic_razas)

# Obtener todas las claves del diccionario
claves = dic_razas.keys()
print("\nClaves del diccionario:", claves)

# Obtener todos los valores del diccionario
valores = dic_razas.values()
print("\nValores del diccionario:", valores)

# Obtener todos los pares clave-valor del diccionario
items = dic_razas.items()
print("\nPares clave-valor del diccionario:", items)

Diccionario:  {'Labrador': 'perro', 'Golden Retriever': 'perro', 'Galgo': 'perro', 'Siam√©s': 'gato', 'Persa': 'gato', 'Sphynx': 'gato', 'Beagle': 'perro', 'Bengal': 'gato'}

Claves del diccionario: dict_keys(['Labrador', 'Golden Retriever', 'Galgo', 'Siam√©s', 'Persa', 'Sphynx', 'Beagle', 'Bengal'])

Valores del diccionario: dict_values(['perro', 'perro', 'perro', 'gato', 'gato', 'gato', 'perro', 'gato'])

Pares clave-valor del diccionario: dict_items([('Labrador', 'perro'), ('Golden Retriever', 'perro'), ('Galgo', 'perro'), ('Siam√©s', 'gato'), ('Persa', 'gato'), ('Sphynx', 'gato'), ('Beagle', 'perro'), ('Bengal', 'gato')])

In [ ]:
# Usar setdefault():
# Devuelve el valor de una clave si existe,
# de lo contrario inserta la clave con un valor dado.

# Obtener el valor de una clave existente ("Labrador")
# y a√±adir una clave inexistente ("Rottweiler") con un valor predeterminado ("perro").

# Obtener el valor de una clave existente
valor_existente = dic_razas.setdefault("Labrador", "animal")

# Obtener el valor de una clave inexistente y establecer un valor por defecto
valor_nuevo = dic_razas.setdefault("Rottweiler", "perrito")

# Mostrar los valores obtenidos y el diccionario actualizado
print("Valor de 'Labrador' usando setdefault:", valor_existente)
print("\nValor de 'Rottweiler' usando setdefault:", valor_nuevo)
print("\nDiccionario despu√©s de usar setdefault:", dic_razas)

Valor de 'Labrador' usando setdefault: perro

Valor de 'Rottweiler' usando setdefault: perrito

Diccionario despu√©s de usar setdefault: {'Labrador': 'perro', 'Golden Retriever': 'perro', 'Galgo': 'perro', 'Siam√©s': 'gato', 'Persa': 'gato', 'Sphynx': 'gato', 'Beagle': 'perro', 'Bengal': 'gato', 'Rottweiler': 'perrito'}

In [ ]:
# fromkeys(): Crea un nuevo diccionario con claves de un iterable y un valor predeterminado
# donde todas las claves especificadas tienen el mismo valor predeterminado ("Mascota")

# Crear un nuevo diccionario con claves especificadas y el mismo valor predeterminado ("Mascota")

# Crear un iterable de claves
claves_nuevas = ["Perro", "Gato", "Ave"]

# Crear un nuevo diccionario con claves del iterable y un valor predeterminado
nuevo_diccionario = dict.fromkeys(claves_nuevas, "Mascota")

# Mostrar el nuevo diccionario
print("Nuevo diccionario con fromkeys:", nuevo_diccionario)

# Otro ejemplo
claves = ['Perro', 'Gato', 'Conejo']
valores = ['Hamster', 'Raton']
dic_nuevo = dict.fromkeys(claves, valores)
print("Nuevo diccionario de tipos de mascotas:", dic_nuevo)

Nuevo diccionario con fromkeys: {'Perro': 'Mascota', 'Gato': 'Mascota', 'Ave': 'Mascota'}
Nuevo diccionario de tipos de mascotas: {'Perro': ['Hamster', 'Raton'], 'Gato': ['Hamster', 'Raton'], 'Conejo': ['Hamster', 'Raton']}

Vamos a crear ahora otro diccionario, que la clave sea el nombre de la mascota y el valor sea un diccionario que tenga dos claves, la especie y la raza:

In [ ]:
# Creaci√≥n de diccionario

# Este diccionario asocia tipos de mascotas con una raza espec√≠fica disponible en la tienda.
mascotas_disponibles = {"perro": "Labrador",
                        "gato": "Siam√©s"}

# Este diccionario asocia nombres de mascotas con su especie y raza.
info_mascotas = {"Buddy":{"especie": "perro", "raza": "Labrador"} ,
                 "Misty": {"especie": "gato", "raza": "Siam√©s"}}


# Imprime los diccionarios creados para verificar la informaci√≥n.
print(f"En el diccionario de mascotas_disponibles tenemos {len(mascotas_disponibles)} elementos, y se compone de: \n {mascotas_disponibles} ")
print(f"\nEn el diccionario de info_mascotas tenemos {len(info_mascotas)} elementos, y se compone de: \n {info_mascotas} ")

En el diccionario de mascotas_disponibles tenemos 2 elementos, y se compone de:
 {'perro': 'Labrador', 'gato': 'Siam√©s'}

En el diccionario de info_mascotas tenemos 2 elementos, y se compone de:
 {'Buddy': {'especie': 'perro', 'raza': 'Labrador'}, 'Misty': {'especie': 'gato', 'raza': 'Siam√©s'}}

In [ ]:
# Agregamos una nueva mascota al registro.
info_mascotas["Sparky"] = {"especie": "perro", "raza": "Golden Retriever"}
print("El diccionario info_mascotas:", info_mascotas)

# Obtener informaci√≥n de una mascota espec√≠fica.
print("\nInformaci√≥n de Sparky:", info_mascotas.get('Sparky'))

# Imprimir la informaci√≥n actualizada de las mascotas
print("\nEspecies registradas:", info_mascotas.keys())
print("\nRazas registradas:", info_mascotas.values())
print("\nInformaci√≥n actualizada de mascotas:", info_mascotas.items())

El diccionario info_mascotas: {'Buddy': {'especie': 'perro', 'raza': 'Labrador'}, 'Misty': {'especie': 'gato', 'raza': 'Siam√©s'}, 'Sparky': {'especie': 'perro', 'raza': 'Golden Retriever'}}

Informaci√≥n de Sparky: {'especie': 'perro', 'raza': 'Golden Retriever'}

Especies registradas: dict_keys(['Buddy', 'Misty', 'Sparky'])

Razas registradas: dict_values([{'especie': 'perro', 'raza': 'Labrador'}, {'especie': 'gato', 'raza': 'Siam√©s'}, {'especie': 'perro', 'raza': 'Golden Retriever'}])

Informaci√≥n actualizada de mascotas: dict_items([('Buddy', {'especie': 'perro', 'raza': 'Labrador'}), ('Misty', {'especie': 'gato', 'raza': 'Siam√©s'}), ('Sparky', {'especie': 'perro', 'raza': 'Golden Retriever'})])

In [ ]:
print("El diccionario info_mascotas:", info_mascotas)

# Eliminamos una mascota que ha sido adoptada.
info_mascotas.pop('Buddy')

# Imprimimos la informaci√≥n final de las mascotas despu√©s de las actualizaciones.
print("\nInformaci√≥n final de mascotas:", info_mascotas)

El diccionario info_mascotas: {'Buddy': {'especie': 'perro', 'raza': 'Labrador'}, 'Misty': {'especie': 'gato', 'raza': 'Siam√©s'}, 'Sparky': {'especie': 'perro', 'raza': 'Golden Retriever'}}

Informaci√≥n final de mascotas: {'Misty': {'especie': 'gato', 'raza': 'Siam√©s'}, 'Sparky': {'especie': 'perro', 'raza': 'Golden Retriever'}}

In [ ]:
# Las claves (keys) tienen el tipo dict_keys
print("\nEspecies registradas:", info_mascotas.keys(), "son de tipo: ", type(info_mascotas.keys()))

# Podemos convertirlo a una lista con "list"
claves_mascotas = list(info_mascotas.keys())
print("\nLista de especies:", claves_mascotas, "son de tipo: ", type(claves_mascotas))

#¬†Podemos acceder a cualquier elemento como en una lista
primer_elemento = claves_mascotas[0]
print("\nLa primera clave: ", primer_elemento, ", en dic_razas tiene el siguiente valor:", info_mascotas.get(primer_elemento))

Especies registradas: dict_keys(['Misty', 'Sparky']) son de tipo:  <class 'dict_keys'>

Lista de especies: ['Misty', 'Sparky'] son de tipo:  <class 'list'>

La primera clave:  Misty , en dic_razas tiene el siguiente valor: {'especie': 'gato', 'raza': 'Siam√©s'}

##### üéà Ejercicio dict libros üéà

Imagina que eres el encargado de gestionar una biblioteca digital. Necesitas realizar varias operaciones para mantener y actualizar la colecci√≥n de libros y sus autores utilizando diccionarios en Python.

1. Crear un diccionario con t√≠tulos de libros y sus autores:


> Cien A√±os de Soledad- Gabriel Garc√≠a M√°rquez

> 1984 - George Orwell

> Don Quijote de la Mancha - Miguel de Cervantes

2. A√±adir un nuevo libro: "El Hobbit" con autor "J.R.R. Tolkien"

3. Actualizar el autor de un libro: El autor de "1984" a "Orwell"

4. Eliminar un libro: "Don Quijote de la Mancha"

5. Imprimir todos los libros y autores

In [ ]:
# Paso 1: Crear el diccionario de libros con sus autores.


# Paso 2: A√±adir un nuevo libro "El Hobbit" con autor "J.R.R. Tolkien".

# Paso 3: Actualizar el autor de "1984" a "Orwell".

# Paso 4: Eliminar el libro "Don Quijote de la Mancha".

# Paso 5: Imprimir todos los libros y autores.

#### Tuplas

Una tupla es una colecci√≥n ordenada e inmutable de elementos en Python. A diferencia de las listas, una vez que una tupla se crea, sus elementos no pueden ser modificados.

- Las tuplas se definen utilizando **par√©ntesis ()** (son opcionales pero su uso es una buena pr√°ctica para hacer el c√≥digo m√°s legible)

- **Inmutables:** Una vez creada, no puedes modificar, a√±adir, o eliminar elementos de una tupla. Esto las hace ideales para asegurar que ciertos datos permanezcan constantes a lo largo de tu programa.

- **Indexadas:** Los elementos tienen un orden definido y se puede acceder a sus elementos mediante √≠ndices, al igual que en las listas. El √≠ndice de los elementos inicia en 0.

- **Permiten elementos duplicados:** Una tupla puede contener elementos duplicados.

- **Pueden contener elementos de distintos tipos:** Una tupla puede contener una combinaci√≥n de diferentes tipos de datos, incluyendo n√∫meros, cadenas, listas e incluso otras tuplas.

**Operaciones B√°sicas con Tuplas**

- **Creaci√≥n:** Se definen usando par√©ntesis (), separando los elementos por comas.

- **Acceso:** Los elementos se acceden usando √≠ndices.

- **Desempaquetado:** Se puede asignar los elementos de una tupla a variables.

- **Concatenaci√≥n y repetici√≥n:** Se pueden concatenar y repetir tuplas usando los operadores + y *.

In [ ]:
# Definici√≥n de una tupla con varios tipos de datos
mi_tupla = (1, "manzana", 3.14, [2, 4, 6])
print("\nTupla:", mi_tupla, "con tipo: ", type(mi_tupla))

# Acceso a elementos individuales mediante √≠ndices
primer_elemento = mi_tupla[0]
print("\nPrimer elemento:", primer_elemento)

# Desempaquetado de una tupla en variables individuales
(a, b, c, d) = mi_tupla
print("\nDesempaquetado:", a, b, c, d)

# Concatenaci√≥n de tuplas
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)
tupla_concatenada = tupla1 + tupla2
print("\nTupla concatenada:", tupla_concatenada)

# Repetici√≥n de tuplas
tupla_repetida = tupla1 * 3
print("\nTupla repetida:", tupla_repetida)

Tupla: (1, 'manzana', 3.14, [2, 4, 6]) con tipo:  <class 'tuple'>

Primer elemento: 1

Desempaquetado: 1 manzana 3.14 [2, 4, 6]

Tupla concatenada: (1, 2, 3, 4, 5, 6)

Tupla repetida: (1, 2, 3, 1, 2, 3, 1, 2, 3)


##### ‚≠ê Ejemplo tupla compra ‚≠ê

Imagina que est√°s organizando una lista de compras y necesitas almacenar los art√≠culos y la cantidad que necesitas comprar:

1. Crea una tupla que contenga varios art√≠culos y sus respectivas cantidades.
2. Crea una tupla con un √∫nico art√≠culo.
3. Demuestra la diferencia entre una tupla de un solo elemento y una cadena.
4. Junta ambas tuplas

In [ ]:
# Paso 1: Definici√≥n de una tupla para cada art√≠culo de la lista de compras.
# Cada tupla contiene el nombre del art√≠culo y la cantidad que necesitas comprar.
tupla_compras = (("Manzanas", 10), ("Leche", 1), ("Huevos", 12), ("Pan", 2))
tupla_compras

(('Manzanas', 10), ('Leche', 1), ('Huevos', 12), ('Pan', 2))

In [ ]:
# Paso 2: Creaci√≥n de una tupla que contiene un √∫nico elemento:
#  un art√≠culo que recordaste que necesitas, pero solo uno.
tupla_unico_articulo = ("Aceite de oliva",)
print(tupla_unico_articulo)

# Al imprimir el tipo de 'tupla_unico_articulo', confirmamos que es una tupla.
print("\nTipo de 'tupla_unico_articulo':", type(tupla_unico_articulo))

('Aceite de oliva',)

Tipo de 'tupla_unico_articulo': <class 'tuple'>

In [ ]:
# Paso 3: Intento de crear una 'lista' de un solo art√≠culo sin usar la coma, para ver la diferencia.
no_es_tupla = ("Papel higi√©nico")
print(no_es_tupla)

# Al imprimir el tipo de 'no_es_tupla', mostramos que es una cadena, no una tupla.
print("\nTipo de 'no_es_tupla':", type(no_es_tupla))

Papel higi√©nico

Tipo de 'no_es_tupla': <class 'str'>

In [ ]:
# Paso 4: Juntamos ambas tuplas
lista_completa = tupla_compras + tupla_unico_articulo
print("Lista completa de compras:", lista_completa)

Lista completa de compras: (('Manzanas', 10), ('Leche', 1), ('Huevos', 12), ('Pan', 2), 'Aceite de oliva')

#### Sets

Un **conjunto** (set) es una colecci√≥n desordenada y sin elementos duplicados. Los conjuntos se utilizan para almacenar m√∫ltiples elementos en una sola variable y para realizar operaciones matem√°ticas de conjuntos, como la uni√≥n, la intersecci√≥n y la diferencia.

**Caracter√≠sticas de los Conjuntos**

- Un set se define con **llaves {}**, y cada elemento es **√∫nico**.
- **Sin duplicados:** No permiten elementos duplicados.
- **Desordenados:** No mantienen un orden espec√≠fico de los elementos,y el orden puede cambiar con cada ejecuci√≥n.
- **Mutables:** Puedes a√±adir y eliminar elementos, aunque los elementos deben ser inmutables (como n√∫meros, cadenas y tuplas).
- **No Indexados:** No puedes acceder a los elementos de un conjunto mediante √≠ndices como lo har√≠as en una lista o tupla.
- **Especificidad de Valores:** En un conjunto, True es considerado igual a 1, y False igual a 0, debido a c√≥mo Python maneja la igualdad de valores.

**Operaciones B√°sicas con Conjuntos**

- **Crear un conjunto:** Utilizando llaves {} o la funci√≥n set().
- **A√±adir elementos:** Utilizando el m√©todo add().
- **Eliminar elementos:** Utilizando los m√©todos remove(), discard(), pop().
- **Operaciones matem√°ticas:**
    - uni√≥n: union()
    - intersecci√≥n: intersection()
    - diferencia: difference()
    - diferencia sim√©trica: symmetric_difference()

In [ ]:
# Crear dos conjuntos con algunos elementos comunes y otros √∫nicos.
campo1 = {'Hola', 'Hola', 'Hola', 'Que', 'Tal', 'Todo', 'Bien'}
campo2 = {'Hola', 'Todo', 'Bien'}

print(f"campo2: {campo1}")
print(f"campo2: {campo2}")

# Tipos de campo1 y campo2
print(type(campo1), type(campo2))   # <class 'set'>

campo2: {'Bien', 'Hola', 'Tal', 'Todo', 'Que'}
campo2: {'Bien', 'Hola', 'Todo'}
<class 'set'> <class 'set'>

In [ ]:
# Intersecci√≥n de conjuntos: elementos que est√°n en ambos conjuntos.
interseccion = campo1.intersection(campo2)
print("Intersecci√≥n:", interseccion)
# Output: {'Hola', 'Todo', 'Bien'}

Intersecci√≥n: {'Bien', 'Hola', 'Todo'}

In [ ]:
# Uni√≥n de conjuntos: todos los elementos √∫nicos presentes en ambos conjuntos.
union = campo1.union(campo2)
print("Uni√≥n:", union)
# Output: {'Hola', 'Que', 'Tal', 'Todo', 'Bien'}

Uni√≥n: {'Bien', 'Hola', 'Tal', 'Todo', 'Que'}

##### ‚≠ê Ejemplo set numerico ‚≠ê

In [ ]:
# Crear un conjunto utilizando llaves {}
conjunto1 = {1, 2, 3, 4, 4}
print("Conjunto 1:", conjunto1)  # Output: {1, 2, 3, 4}

# Crear un conjunto utilizando la funci√≥n set()
conjunto2 = set([5, 6, 7, 8])
print("Conjunto 2:", conjunto2)  # Output: {8, 5, 6, 7}

# Error => unhashable type: 'list' (porque las listas son mutables)
#conjunto3 = {1, 2, 3, 4, 4, [5,6]}

Conjunto 1: {1, 2, 3, 4}
Conjunto 2: {8, 5, 6, 7}

In [ ]:
# a√±adir elementos a un conjunto utilizando el m√©todo add()
conjunto1.add(5)
print("Despu√©s de a√±adir 5 a Conjunto 1:", conjunto1)  # Output: {1, 2, 3, 4, 5}

Despu√©s de a√±adir 5 a Conjunto 1: {1, 2, 3, 4, 5}

In [ ]:
# eliminar elementos de un conjunto utilizando los m√©todos remove(), discard(), y pop()

# Utilizando remove()
conjunto1.remove(5)
print("Despu√©s de eliminar 5 con remove:", conjunto1)  # Output: {1, 2, 3, 4}

# Utilizando discard() (no produce error si el elemento no existe)
conjunto1.discard(4)
print("Despu√©s de eliminar 4 con discard:", conjunto1)  # Output: {1, 2, 3}

# Utilizando pop() (elimina y devuelve un elemento arbitrario)
elemento_eliminado = conjunto1.pop()
print("Elemento eliminado con pop:", elemento_eliminado)
print("Despu√©s de eliminar un elemento con pop:", conjunto1)

Despu√©s de eliminar 5 con remove: {1, 2, 3, 4}
Despu√©s de eliminar 4 con discard: {1, 2, 3}
Elemento eliminado con pop: 1
Despu√©s de eliminar un elemento con pop: {2, 3}

In [ ]:
# operaciones matem√°ticas como uni√≥n, intersecci√≥n, diferencia y diferencia sim√©trica
conjunto1 = {1, 2, 3, 5, 6, 7}
conjunto2 = {3, 4, 5, 8, 9, 10}

# Uni√≥n (elementos presentes en cualquiera de los dos conjuntos)
union = conjunto1.union(conjunto2)
print("Uni√≥n:", union)

# Intersecci√≥n (elementos presentes en ambos conjuntos)
interseccion = conjunto1.intersection(conjunto2)
print("Intersecci√≥n:", interseccion)

# Diferencia (elementos presentes en el primer conjunto pero no en el segundo)
diferencia = conjunto1.difference(conjunto2)
print("Diferencia:", diferencia)

# Diferencia Sim√©trica (elementos presentes en uno u otro conjunto, pero no en ambos)
diferencia_simetrica = conjunto1.symmetric_difference(conjunto2)
print("Diferencia Sim√©trica:", diferencia_simetrica)

Uni√≥n: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersecci√≥n: {3, 5}
Diferencia: {1, 2, 6, 7}
Diferencia Sim√©trica: {1, 2, 4, 6, 7, 8, 9, 10}

## 5.Operadores

###Operadores aritm√©ticos

![aritmeticos.png]()

In [ ]:
# Operadores aritm√©ticos
a = 10
b = 3

print(f"Suma: {a + b}")          # 13
print(f"Resta: {a - b}")         # 7
print(f"Multiplicaci√≥n: {a * b}")# 30
print(f"Divisi√≥n: {a / b}")      # 3.333...
print(f"M√≥dulo: {a % b}")        # 1
print(f"Exponenciaci√≥n: {a ** b}") # 1000
print(f"Divisi√≥n entera: {a // b}") # 3

Suma: 13
Resta: 7
Multiplicaci√≥n: 30
Divisi√≥n: 3.3333333333333335
M√≥dulo: 1
Exponenciaci√≥n: 1000
Divisi√≥n entera: 3

In [ ]:
200.5 + 10
200 - 10.5
250 // 23 # 10,8695652173913
250 % 23 # resto 20

20

#### üéà Ejercicio op aritmeticos üéà

Calcula el √°rea y el per√≠metro de un rect√°ngulo de base 5 y altura 7.

In [ ]:
base = 5
altura = 7

√Årea del rect√°ngulo: 35
Per√≠metro del rect√°ngulo: 24

### Operadores relacionales


![relacionales.png]()

In [ ]:
# Operadores relacionales
x = 10
y = 20

print(x == y)  # False
print(x != y)  # True
print(x > y)   # False
print(x < y)   # True
print(x >= y)  # False
print(x <= y)  # True

False
True
False
True
False
True

In [ ]:
numero = int(input("Introduce un n√∫mero: "))

if numero > 0:
    print("El n√∫mero es positivo.")
elif numero < 0:
    print("El n√∫mero es negativo.")
else:
    print("El n√∫mero es cero.")

Introduce un n√∫mero: 5
El n√∫mero es positivo.

In [ ]:
125 > 125.02

division = 100 / 2
51 == division

"cincuenta" != 'cincuenta'

True

#### ‚≠ê Ejemplo op relacionales ‚≠ê

In [ ]:
# Se definen dos listas de marcas de autom√≥viles.
lista1 = ["Toyota", "Ford", "BMW"]
lista2 = ["Mercedes-Benz", "Honda", "Volkswagen", "Ford"]

# Compara si ambas listas tienen la misma cantidad de elementos.
print(len(lista1) == len(lista2))  # Imprime True si tienen la misma longitud, de lo contrario False.

# Comprueba si la longitud de la primera lista es menor o igual que la de la segunda.
print(len(lista1) <= len(lista2))  # Imprime True si lista1 es m√°s corta o igual de larga que lista2.

# Compara la longitud del primer elemento de cada lista para ver cu√°l es m√°s largo.
print(len(lista1[0]) > len(lista2[0]))  # Imprime True si el primer elemento de lista1 es m√°s largo que el de lista2.

False
True
False

In [ ]:
# Solicita al usuario que introduzca una contrase√±a.
password = input("Introduce una contrase√±a: ")

# Solicita al usuario que vuelva a introducir la misma contrase√±a para confirmaci√≥n.
password_check = input("Vuelve a introducir la contrase√±a: ")

# Compara las dos contrase√±as introducidas para verificar si son iguales.
if password == password_check:
  # Si las contrase√±as coinciden, imprime un mensaje de √©xito.
  print("Contrase√±a correctamente almacenada")
else:
  # Si las contrase√±as no coinciden, informa al usuario que no son iguales.
  print("Las contrase√±as no coinciden")

Introduce una contrase√±a: hola_123
Vuelve a introducir la contrase√±a: hola_123
Contrase√±a correctamente almacenada

###Operadores l√≥gicos


![logicos.png]()

Buscando un resultado en **True**:
*  AND, &: todos los elementos deben ser True
*  OR, |: basta con que uno de los elementos sea True

In [ ]:
# Operadores l√≥gicos
a = True
b = False

# Uso del operador l√≥gico 'and' para evaluar la expresi√≥n.
# La operaci√≥n 'and' devuelve True si los dos operandos es True.
print(a and b)  # False

# Uso del operador l√≥gico 'or' para evaluar la expresi√≥n.
# La operaci√≥n 'or' devuelve True si al menos uno de los operandos es True.
print(a or b)   # True

# not : Invierte el resultado, devuelve False si el resultado es verdadero.
print(not a)    # False

False
True
False

#### ‚≠ê Ejemplo op l√≥gicos ‚≠ê

Verifica si un n√∫mero est√° en el rango de 10 a 20 inclusive.

In [ ]:
numero = int(input("Introduce un n√∫mero: "))

if numero >= 10 and numero <= 20:
    print("El n√∫mero est√° en el rango de 10 a 20.")
else:
    print("El n√∫mero no est√° en el rango de 10 a 20.")

Introduce un n√∫mero: 15
El n√∫mero est√° en el rango de 10 a 20.

###Operadores de pertenencia

Los **operadores de pertenencia** se utilizan para verificar si un valor o variable est√° presente en una secuencia (como una cadena, lista, tupla, conjunto y diccionario).

- **in:** Devuelve True si el valor est√° en la secuencia.
- **not in:** Devuelve True si el valor no est√° en la secuencia.

In [ ]:
# Operadores de pertenencia
frutas = ["manzana", "banana", "cereza"]

print("banana" in frutas)     # True
print("pera" not in frutas)   # True

True
True

In [ ]:
# Se define una lista de valores que contiene n√∫meros enteros y flotantes.
lista_valores = [10, 55.5, 100, 155]

# Utiliza el operador 'not in' para verificar si 55 no est√° presente en 'lista_valores'.
# Esta operaci√≥n devuelve True si 55 no se encuentra en 'lista_valores', y False si 55 est√° presente.
print(55 not in lista_valores)  # Esto mostrar√° True, ya que 55 no est√° en la lista, aunque 55.5 s√≠.

True

##### ‚≠ê Ejemplo op pertenencia ‚≠ê

Verifica si una letra est√° presente en una palabra dada.

In [ ]:
palabra = input("Introduce una palabra: ")
letra = input("Introduce una letra: ")

if letra in palabra:
    print(f"La letra '{letra}' est√° en la palabra '{palabra}'.")
else:
    print(f"La letra '{letra}' no est√° en la palabra '{palabra}'.")

Introduce una palabra: silvia
Introduce una letra: s
La letra 's' est√° en la palabra 'silvia'.

# Repaso Precursos

## üéà Ejercicio manipulaci√≥n de strings üéà

1. Crea una nueva cadena llamada 'saludo' que use la variable 'string_simple' (que debe contener el valor Hola) y la concatene con la frase ", c√≥mo est√°s hoy?" utilizando el operador +.
2. Utiliza f-strings para imprimir la variable 'string_simple' en may√∫sculas, seguida de la pregunta "c√≥mo te encuentras hoy?".
3. Emplea el m√©todo .format() para crear una cadena que indique que el precio de una bici es de 1150.4332‚Ç¨, mostrando 3 decimales.
4. Con otro .format(), forma una cadena que diga que "un luchador de sumo pesa 132,89 kg", especificando solo un decimal en el peso.
5. Corrige la frase "En programaci√≥n, mi herramienta favorita es Python"
para que diga "En programaci√≥n, mi INSTRUMENTO favorito es PYTHON".

In [ ]:
string_simple = 'saludo'

# 1. Crear una nueva cadena 'saludo' que
# use la variable 'string_simple' y la concatene con la frase ", c√≥mo est√°s hoy?" utilizando el operador +
# (recuerda que no puede sumar int con string, pero string con string s√≠ y num con num). En la multiplicaci√≥n no √©s as√≠.
print("1." + string_simple + ", c√≥mo est√°s hoy?")

# 2. Utilizar f-strings para imprimir
# la variable 'string_simple' en may√∫sculas, seguida de la pregunta "c√≥mo te encuentras hoy?"
resultado = "2.1 "f"{string_simple.upper()}, c√≥mo est√°s hoy?"
print(resultado)
print("2.2 "f"{string_simple.upper()}, c√≥mo est√°s hoy?")

# 3. Emplear el m√©todo .format() para crear
# una cadena que indique que el precio de una bici es de 1150.4332‚Ç¨, mostrando 3 decimales.
print("3.1. El precio de una bici es de ", "{:.3f}".format(1150.4332), "‚Ç¨")
a = 1150.4332
print("3.2. El precio de una bici es de ", "{:.3f}".format(a), "‚Ç¨")

cadena = "El precio de una bici es {precio:.3f} ‚Ç¨"
print ("3.3 " + cadena)
cadena_formateada = cadena.format(precio=1150.4332)
print("3.4 " + cadena_formateada)

# 4. Con otro .format(), formar una cadena que diga que
# "un luchador de sumo pesa 132,89 kg", especificando solo un decimal en el peso.
print("4.1 un luchador de sumo pesa ", "{:.1f}".format(132.89), "kg")


# 5. Corregir la frase
# "En programaci√≥n, mi herramienta favorita es Python"
# para que diga "En programaci√≥n, mi INSTRUMENTO favorito es PYTHON".
frase = "En programaci√≥n, mi herramienta favorita es Python"
nueva_frase1 = frase.replace('herramienta', 'INSTRUMENTO')
print(nueva_frase1)
nueva_frase2 = nueva_frase1.replace('favorita', 'favorito')
print(nueva_frase2)
nueva_frase3 = nueva_frase2.replace('Python', 'PYTHON')
print(nueva_frase3)
todo_replace_junto = frase.replace('herramienta', 'INSTRUMENTO').replace('favorita', 'favorito').replace('Python', 'PYTHON')
print(todo_replace_junto)

1.saludo, c√≥mo est√°s hoy?
2.1 SALUDO, c√≥mo est√°s hoy?
2.2 SALUDO, c√≥mo est√°s hoy?
3.1. El precio de una bici es de  1150.433 ‚Ç¨
3.2. El precio de una bici es de  1150.433 ‚Ç¨
3.3 El precio de una bici es {precio:.3f} ‚Ç¨
3.4 El precio de una bici es 1150.433 ‚Ç¨
4.1 un luchador de sumo pesa  132.9 kg
En programaci√≥n, mi INSTRUMENTO favorita es Python
En programaci√≥n, mi INSTRUMENTO favorito es Python
En programaci√≥n, mi INSTRUMENTO favorito es PYTHON
En programaci√≥n, mi INSTRUMENTO favorito es PYTHON

## üéà Ejercicio manipulaci√≥n listas: Friends üéà

Trabaja con una lista que contiene los nombres de los personajes principales de la serie "Friends":

> "Rachel", "Monica", "Phoebe", "Joey", "Chandler", "Ross"

Realiza las siguientes operaciones sobre la lista utilizando los m√©todos de listas de Python:

1. A√±ade "Gunther" al final de la lista.
2. Extiende la lista con los personajes ["Janice", "Mike"].
3. Inserta "Richard" en la segunda posici√≥n.
4. Elimina "Rachel" de la lista.
5. Elimina y devuelve el √∫ltimo elemento de la lista.
6. Encuentra el √≠ndice del personaje "Chandler".
7. Cuenta cu√°ntas veces aparece "Ross" en la lista.
8. Ordena la lista en orden alfab√©tico.
9. Invierte el orden de los elementos de la lista.
10. Elimina todos los elementos de la lista original.

In [ ]:
# Lista de personajes de Friends
personajes_friends = ["Rachel", "Monica", "Phoebe", "Joey", "Chandler", "Ross"]
print("0. ", personajes_friends)

# 1. A√±ade "Gunther" al final de la lista.
personajes_friends.append("Gunther")
print("1. ", personajes_friends)

# 2. Extiende la lista con los personajes ["Janice", "Mike"].
personajes_friends.append(["Janice", "Mike"]) # se a√±ade una lista, no los valores por separado
print("2.1. ", personajes_friends)
personajes_friends.remove(["Janice", "Mike"]) #borramos


personajes_friends.extend(["Janice", "Mike"])
print("2.2. ", personajes_friends)

# 3. Inserta "Richard" en la segunda posici√≥n.
personajes_friends.insert(1,"Richard" )
print("3. ", personajes_friends)

# 4. Elimina "Rachel" de la lista.
personajes_friends.remove("Rachel") #Debe ser el valor no la posici√≥n
print("4.1. ", personajes_friends)
personajes_friends.insert(0,"Rachel")
print("4.1.1. ", personajes_friends)

# 5. Elimina y devuelve el √∫ltimo elemento de la lista.
ultimo_elemento = personajes_friends.pop()
print("5. ", ultimo_elemento)
print("5.1. Lista sin √∫ltimo elemento", personajes_friends)

# 6. Encuentra el √≠ndice del personaje "Chandler".
√≠ndice = personajes_friends.index("Chandler")
print("6. ", √≠ndice)

# 7. Cuenta cu√°ntas veces aparece "Ross" en la lista.
conteo = personajes_friends.count("Ross")
print("7. ", conteo)

# 8. Ordena la lista en orden alfab√©tico.
personajes_friends.sort()
print("8.1. ", personajes_friends)

lista_ordenada = sorted(personajes_friends)
print("8.2. ", lista_ordenada)
# 9. Invierte el orden de los elementos de la lista.
personajes_friends.reverse()
print("9. ", personajes_friends)

# 10. Elimina todos los elementos de la lista original.
personajes_friends.clear()
print("10. ", personajes_friends)

0.  ['Rachel', 'Monica', 'Phoebe', 'Joey', 'Chandler', 'Ross']
1.  ['Rachel', 'Monica', 'Phoebe', 'Joey', 'Chandler', 'Ross', 'Gunther']
2.1.  ['Rachel', 'Monica', 'Phoebe', 'Joey', 'Chandler', 'Ross', 'Gunther', ['Janice', 'Mike']]
2.2.  ['Rachel', 'Monica', 'Phoebe', 'Joey', 'Chandler', 'Ross', 'Gunther', 'Janice', 'Mike']
3.  ['Rachel', 'Richard', 'Monica', 'Phoebe', 'Joey', 'Chandler', 'Ross', 'Gunther', 'Janice', 'Mike']
4.1.  ['Richard', 'Monica', 'Phoebe', 'Joey', 'Chandler', 'Ross', 'Gunther', 'Janice', 'Mike']
4.1.1.  ['Rachel', 'Richard', 'Monica', 'Phoebe', 'Joey', 'Chandler', 'Ross', 'Gunther', 'Janice', 'Mike']
5.  Mike
5.1. Lista sin √∫ltimo elemento ['Rachel', 'Richard', 'Monica', 'Phoebe', 'Joey', 'Chandler', 'Ross', 'Gunther', 'Janice']
6.  5
7.  1
8.1.  ['Chandler', 'Gunther', 'Janice', 'Joey', 'Monica', 'Phoebe', 'Rachel', 'Richard', 'Ross']
8.2.  ['Chandler', 'Gunther', 'Janice', 'Joey', 'Monica', 'Phoebe', 'Rachel', 'Richard', 'Ross']
9.  ['Ross', 'Richard', 'Rachel', 'Phoebe', 'Monica', 'Joey', 'Janice', 'Gunther', 'Chandler']
10.  []

# Introducci√≥n a Python

## 6. Estructuras de Control de Flujo

Las estructuras de control permiten que el flujo de ejecuci√≥n de un programa se desv√≠e en funci√≥n de ciertas condiciones y repita ciertas acciones varias veces

### **if (Condicionales)**

- La estructura **if** permite ejecutar un bloque de c√≥digo si una condici√≥n es verdadera.
- Puede ser seguida por elif y/o else para manejar m√∫ltiples condiciones y acciones alternativas.

```
if condici√≥n:
    # bloque de c√≥digo si la condici√≥n es verdadera
elif otra_condici√≥n:
    # bloque de c√≥digo si la otra_condici√≥n es verdadera
else:
    # bloque de c√≥digo si ninguna condici√≥n anterior es verdadera
```

In [1]:
edad = int(input())

if edad > 65:
    print("Est√°s jubilado")
elif edad >= 18:
    print("Eres mayor de edad")
else:
    print("Eres menor de edad")

13
Eres menor de edad

In [ ]:
edad = 20
# edad = int(input())

if edad >= 18:
    if edad < 21:
        print("Eres mayor de edad, pero no puedes beber alcohol en EE.UU.")
    else:
        print("Eres mayor de edad y puedes beber alcohol en EE.UU.")
else:
    print("Eres menor de edad.")

Eres mayor de edad, pero no puedes beber alcohol en EE.UU.

### **for (Bucles)**

- La estructura **for** se utiliza para iterar sobre una secuencia (como una lista, tupla, diccionario, conjunto o cadena) y ejecutar un bloque de c√≥digo para cada elemento en la secuencia.


```
for variable in secuencia:
    # bloque de c√≥digo que se ejecuta en cada iteraci√≥n

```

In [ ]:
numeros = [1, 2, 3, 4, 5]
for numero in numeros:
    print(numero)

1
2
3
4
5

In [ ]:
# Iterar sobre un rango de n√∫meros
for i in range(5):
    print(i)

0
1
2
3
4

### **while (Bucles)**

- La estructura **while** permite repetir un bloque de c√≥digo mientras una condici√≥n sea verdadera.
- Si la condici√≥n nunca se cumple, el bucle no se ejecutar√°
- Si la condici√≥n siempre se cumple, el bucle puede convertirse en un bucle infinito.

```
while condici√≥n:
    # bloque de c√≥digo que se ejecuta mientras la condici√≥n sea verdadera

```

In [ ]:
contador = 0
while contador < 5:
    print(contador)
    contador += 1

0
1
2
3
4

In [ ]:
contador = 0
while contador < 10:
    contador += 1
    if contador == 5:
        continue  # Saltar el resto del c√≥digo en esta iteraci√≥n
    if contador == 8:
        break  # Terminar el bucle
    print(contador)

1
2
3
4
6
7

### **Consideraciones y Buenas Pr√°cticas**

- **Indentaci√≥n:** En Python, los bloques de c√≥digo se definen por su nivel de indentaci√≥n. Aseg√∫rate de usar una indentaci√≥n consistente (generalmente 4 espacios por nivel).

- **Condiciones:** Las condiciones en if y while deben ser expresiones booleanas (evaluadas como True o False).

- **Bucle infinito:** En un while, aseg√∫rate de que la condici√≥n eventualmente se vuelva falsa para evitar un bucle infinito.

- **Iterar sobre secuencias:** Usa for para iterar sobre elementos de una secuencia. Es m√°s compacto y claro comparado con while en la mayor√≠a de los casos.

### Ejemplos (casa)

####  ‚≠ê Ejemplo 1 ‚≠ê

Supongamos que eres un analista de datos en una empresa de comercio electr√≥nico y debes revisar las ventas diarias de un producto popular para identificar d√≠as con desempe√±o inusual (tanto positiva como negativamente).

1. Vamos a usar la librer√≠a **numpy** para hacer algunos c√°lculos estad√≠sticos

2. **Ventas Diarias:** Definimos un array de numpy con las ventas diarias del √∫ltimo mes para un producto espec√≠fico.

3. **C√°lculo del Promedio de Ventas:** Utilizamos la funci√≥n np.mean() para calcular el promedio de ventas del √∫ltimo mes.

4. **Generaci√≥n de Ventas de Hoy:** Generamos un n√∫mero aleatorio para representar las ventas de hoy, asumiendo que las ventas pueden variar entre 80 y 250 unidades.

5. **An√°lisis del Desempe√±o:** Utilizamos estructuras de control **(if, elif, else)** para comparar las ventas de hoy con el promedio mensual y emitir un mensaje apropiado.

In [ ]:
# Importaci√≥n de la biblioteca numpy para usar sus funciones estad√≠sticas
import numpy as np

# Supongamos que estas son las ventas diarias del √∫ltimo mes de un producto espec√≠fico
ventas_diarias = np.array([120, 150, 130, 200, 180, 90, 80, 220, 210, 140, 160,
                           190, 110, 130, 150, 170, 200, 230, 180, 190, 220, 210,
                           130, 140, 160, 180, 200, 220, 240, 210])

# Calculamos el promedio de ventas del √∫ltimo mes
promedio_ventas = np.mean(ventas_diarias)

In [ ]:
# Generamos un n√∫mero aleatorio para representar las ventas de hoy
# Supongamos que las ventas pueden variar entre 80 y 250 unidades
ventas_hoy = np.random.randint(80, 250)
ventas_hoy

93

In [ ]:
# Uso de estructuras de control para analizar el desempe√±o de las ventas de hoy.
print(f"Promedio de ventas del √∫ltimo mes: {promedio_ventas:.2f} unidades. \n \
                      Ventas hoy: {ventas_hoy} unidades. \n")

if ventas_hoy > promedio_ventas:
    print("Las ventas de hoy son superiores al promedio del √∫ltimo mes. ¬°Buen trabajo!")
elif ventas_hoy < promedio_ventas:
    print("Las ventas de hoy son inferiores al promedio del √∫ltimo mes. Es necesario analizar posibles causas.")
else:
    print("Las ventas de hoy son exactamente iguales al promedio del √∫ltimo mes. Estamos en la l√≠nea base.")

Promedio de ventas del √∫ltimo mes: 171.33 unidades.
                       Ventas hoy: 93 unidades.

Las ventas de hoy son inferiores al promedio del √∫ltimo mes. Es necesario analizar posibles causas.

**if (Condicional):**

Eval√∫a si ventas_hoy es mayor que promedio_ventas. Si es verdadero, imprime un mensaje positivo.

**elif (Condicional Alternativo):**

Si la primera condici√≥n no es verdadera, eval√∫a si ventas_hoy es menor que promedio_ventas. Si es verdadero, imprime un mensaje para investigar posibles causas.

**else (Condicional Final):**

Si ninguna de las condiciones anteriores es verdadera, significa que ventas_hoy es igual a promedio_ventas, e imprime un mensaje indicando que las ventas est√°n en la l√≠nea base.

####  ‚≠ê Ejemplo 2 ‚≠ê

Imagina que trabajas como analista de datos en una empresa y acabas de realizar una encuesta de satisfacci√≥n al cliente. Las respuestas a las preguntas de la encuesta, que miden la satisfacci√≥n en t√©rminos porcentuales, han sido recopiladas en una escala de 0 a 1 (donde 1 representa el 100% de satisfacci√≥n y 0 representa el 0% de satisfacci√≥n). Necesitas convertir estas respuestas a valores porcentuales enteros para preparar un informe:


1. **Inicializaci√≥n:** Inicializas una lista vac√≠a lista_porcentajes para almacenar los valores convertidos a porcentajes.

2. **Lista de Resultados:** Definimos una lista lista_decimales que contiene los resultados de la encuesta en formato decimal.

3. **Conversi√≥n a Porcentajes:**
  - Utilizamos un bucle for para iterar sobre cada valor en lista_decimales.
  - Multiplicamos cada valor por 100 para convertirlo a un porcentaje.
  - Convertimos el resultado a un entero y lo a√±adimos a lista_porcentajes.


4. **Impresi√≥n del Resultado:** Imprimimos lista_porcentajes para verificar los valores convertidos.

In [ ]:
# Inicializaci√≥n de una lista vac√≠a para almacenar los porcentajes
lista_porcentajes = []

# Se define una lista de resultados de la encuesta de satisfacci√≥n del cliente en formato decimal
lista_decimales = [0.2, 0.85, 0.1, 0.63, 0.59, 0.93]

# El bucle 'for' itera sobre cada resultado de la encuesta 'd' en 'lista_decimales'
#¬†d - resultado decimal
for d in lista_decimales:
    # Multiplica el resultado 'd' por 100 para convertirlo en un porcentaje.
    p = d * 100
    # A√±ade el porcentaje a 'lista_porcentajes' como un entero, usando 'int(p)' para convertirlo.
    lista_porcentajes.append(int(p))

# Al final del bucle, 'lista_porcentajes' contiene
# los valores de satisfacci√≥n del cliente convertidos a porcentajes enteros.
print("Decimales de satisfacci√≥n del cliente:", lista_decimales)
print("Porcentajes de satisfacci√≥n del cliente:", lista_porcentajes)

Decimales de satisfacci√≥n del cliente: [0.2, 0.85, 0.1, 0.63, 0.59, 0.93]
Porcentajes de satisfacci√≥n del cliente: [20, 85, 10, 63, 59, 93]

Filtra y muestra solo los valores de satisfacci√≥n superiores al 70%:

Utilizaremos una **comprensi√≥n de listas** para este prop√≥sito.

Las comprensiones de listas nos permiten construir nuevas listas aplicando una expresi√≥n a cada elemento de una secuencia, de una manera muy concisa.

In [ ]:
# Lista original de porcentajes de satisfacci√≥n del cliente.
lista_porcentajes = [20, 85, 10, 63, 59, 93]

# Usamos una comprensi√≥n de listas para filtrar los valores superiores a 70%.
p_altos = [p for p in lista_porcentajes if p > 70]

# Imprimimos los valores de satisfacci√≥n superiores al 70%.
print("Valores de satisfacci√≥n superiores al 70%:", p_altos)

Valores de satisfacci√≥n superiores al 70%: [85, 93]

**Descomposici√≥n de la Comprensi√≥n de Listas**



```
p_altos = [p for p in lista_porcentajes if p > 70]
```



1. **Variable de Iteraci√≥n (p):**

p es una variable temporal que tomar√° el valor de cada elemento en lista_porcentajes conforme iteramos sobre la lista.

2. **Expresi√≥n (p):**

p es el valor que queremos a√±adir a la nueva lista si cumple la condici√≥n. En este caso, simplemente a√±adimos el valor p directamente.

3. **Fuente de Datos (for p in lista_porcentajes):**

for p in lista_porcentajes significa que estamos iterando sobre cada elemento p en la lista lista_porcentajes.

4. **Condici√≥n (if p > 70):**

if p > 70 es una condici√≥n que debe cumplir cada elemento p para ser a√±adido a la nueva lista. Solo los elementos que sean mayores que 70 ser√°n incluidos en la lista altos.

####  ‚≠ê Ejemplo 3 ‚≠ê

Imagina que trabajas como analista de datos para una empresa de comercio electr√≥nico. Se te proporciona un diccionario que contiene la cantidad de ventas de diferentes productos en el √∫ltimo mes. Necesitas revisar y reportar la cantidad de ventas de cada producto:

1. **Definir el Diccionario de Ventas:** contiene los productos como claves y la cantidad de ventas como valores

2. **Iterar sobre el Diccionario:** usamos el bucle for para iterar sobre el diccionario y reportar las ventas

In [ ]:
# Se define un diccionario con los productos y la cantidad de ventas
mi_diccionario = {"Camisetas": 120, "Pantalones": 90, "Zapatillas": 60, "Sombreros": 30}
mi_diccionario

{'Camisetas': 120, 'Pantalones': 90, 'Zapatillas': 60, 'Sombreros': 30}

In [ ]:
# Bucle for para iterar sobre cada clave (nombre del producto) en el diccionario

for producto in mi_diccionario:
    # Imprimimos el producto
    print("\nProducto:", producto)
    # Usamos .get() para obtener el valor (cantidad de ventas) asociado a cada clave (al producto)
    ventas = mi_diccionario.get(producto)
    # Imprimimos la cantidad de ventas
    print("Ventas:", ventas)

Producto: Camisetas
Ventas: 120

Producto: Pantalones
Ventas: 90

Producto: Zapatillas
Ventas: 60

Producto: Sombreros
Ventas: 30

In [ ]:
# Bucle for para iterar sobre cada par clave-valor en el diccionario
# utilizando el m√©todo .items(), que devuelve una vista de pares (clave, valor)
print(mi_diccionario.items())

for producto, ventas in mi_diccionario.items():
    # Imprimimos el producto y la cantidad de ventas.
    print("\nProducto:", producto, "- Ventas:", ventas)

dict_items([('Camisetas', 120), ('Pantalones', 90), ('Zapatillas', 60), ('Sombreros', 30)])

Producto: Camisetas - Ventas: 120

Producto: Pantalones - Ventas: 90

Producto: Zapatillas - Ventas: 60

Producto: Sombreros - Ventas: 30

####  ‚≠ê Ejemplo 4 ‚≠ê

Imagina que eres un analista de datos que ha recogido respuestas de una encuesta en l√≠nea donde los participantes indican si les gust√≥ o no un nuevo producto. Las respuestas se recogieron como 'S√≠' para los que les gust√≥ y 'No' para los que no. Necesitas contar cu√°ntas respuestas 'S√≠' recibiste hasta alcanzar un n√∫mero espec√≠fico de respuestas positivas para determinar si el producto fue bien recibido.

1. **Inicializar Datos y Variables:**
  - Primero, definimos una lista con las respuestas de la encuesta y establecemos un contador para las respuestas positivas 'S√≠'.
  - Tambi√©n definimos un objetivo de cu√°ntas respuestas 'S√≠' queremos alcanzar.

2. **Utilizar un Bucle while para Contar Respuestas:**
  - Usamos un bucle while que se ejecuta mientras el n√∫mero de respuestas 'S√≠' sea menor que el objetivo definido.
  - Dentro del bucle, eliminamos la primera respuesta de la lista y verificamos si es 'S√≠'.
  - Si lo es, incrementamos el contador.
  - Tambi√©n verificamos si la lista de respuestas se ha vaciado para terminar el bucle si ya no hay m√°s respuestas que procesar.

In [ ]:
# Inicializaci√≥n de una lista con respuestas de la encuesta.
respuestas = ['S√≠', 'No', 'S√≠', 'S√≠', 'No', 'No', 'S√≠', 'S√≠', 'No']
#respuestas = ['S√≠', 'No', 'S√≠', 'S√≠', 'No', 'No', 'No']

# Inicializa un contador para contar cu√°ntas respuestas 'S√≠' hay.
contador_si = 0

# Establece un objetivo de respuestas 'S√≠' que deseas alcanzar.
objetivo_si = 5

In [ ]:
# El bucle 'while' se ejecuta mientras el n√∫mero de respuestas 'S√≠' sea menor que el objetivo.
while contador_si < objetivo_si:
    # Elimina la primera respuesta de la lista y la guarda en una variable.
    respuesta_actual = respuestas.pop(0)

    # Comprueba si la respuesta actual es 'S√≠'.
    if respuesta_actual == 'S√≠':
        # Incrementa el contador de respuestas 'S√≠'.
        contador_si += 1
        print(f"Se encontr√≥ una respuesta 'S√≠'. Total hasta ahora: {contador_si}")

    # Verifica si la lista de respuestas se ha vaciado.
    if not respuestas:
        print("Se han revisado todas las respuestas.")
        break

# Imprime el total de respuestas 'S√≠' encontradas.
print(f"Total de respuestas 'S√≠': {contador_si}")

Total de respuestas 'S√≠': 5

### üéà Ejercicio op l√≥gicos üéà

- Solicita al usuario que introduzca un n√∫mero entero.

- Luego, eval√∫a si el n√∫mero ingresado es par o mayor que 100.
- Si el n√∫mero es par o mayor que 100, el programa deber√° imprimir True; de lo contrario, imprimir√° False

In [5]:
# FORMA 1

# Solicita al usuario que introduzca un n√∫mero entero.
n√∫mero_entero = int(input("Introduzca un n√∫mero entero: "))

# Eval√∫a si el n√∫mero es par o mayor que 100
if (n√∫mero_entero % 2 == 0):
  print(True)
elif (n√∫mero_entero > 100):
  print(True)
else:
    print (False)

Introduzca un n√∫mero entero:3
False

In [8]:
# FORMA 2

# Solicita al usuario que introduzca un n√∫mero entero.
n√∫mero_entero = int(input("Introduzca un n√∫mero entero: "))

# Eval√∫a si el n√∫mero es par 0 mayor que 100
if (n√∫mero_entero % 2 == 0) or (n√∫mero_entero > 100):
  print(True)
else:
    print (False)

Introduzca un n√∫mero entero: 120
True

### üéà Ejercicio estructura de control üéà

Imagina que eres el organizador de un evento escolar que involucra juegos matem√°ticos. Uno de los juegos consiste en que los estudiantes encuentren n√∫meros que cumplan con ciertas condiciones.

- Se te proporciona una lista de n√∫meros especiales para el juego:

> 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100

- Debes solicitar al usuario (un estudiante) que introduzca un n√∫mero entre 1 y 100 para verificar si cumple con las condiciones del juego.

- Si el n√∫mero introducido por el estudiante cumple con alguna de las siguientes condiciones, debes mostrar un mensaje adecuado:

  - El n√∫mero es un m√∫ltiplo de 2 y 3 y est√° en la lista de n√∫meros especiales del juego.
  - El n√∫mero es un m√∫ltiplo de 2 y 3, pero no est√° en la lista de n√∫meros especiales del juego.
  - El n√∫mero est√° en la lista de n√∫meros especiales del juego.

- Si el n√∫mero no cumple con ninguna de las condiciones anteriores, debes informar al estudiante que el n√∫mero no cumple con las reglas del juego.

In [22]:
# Se crea una lista de n√∫meros especiales para el juego, que son m√∫ltiplos de 6.
lista_especiales = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Se solicita al usuario (un estudiante en este caso) que introduzca un n√∫mero para verificar.
numero_estudiante = int(input("Introduce un n√∫mero entero entre 1 y 100: "))
if numero_estudiante % 2 == 0 and n√∫mero_entero % 3 == 0 and numero_estudiante in lista_especiales:
    print("El n√∫mero es un m√∫ltiplo de 2 y 3 y est√° en la lista de n√∫meros especiales del juego")
elif numero_estudiante % 2 == 0 and n√∫mero_entero % 3 == 0 and numero_estudiante not in lista_especiales:
    print("El n√∫mero es un m√∫ltiplo de 2 y 3, pero no est√° en la lista de n√∫meros especiales del juego.")
elif numero_estudiante in lista_especiales:
    print("El n√∫mero est√° en la lista de n√∫meros especiales del juego.")
else:
    print("No cumple ninguna condici√≥n")

Introduce un n√∫mero entero entre 1 y 100: 6
El n√∫mero es un m√∫ltiplo de 2 y 3, pero no est√° en la lista de n√∫meros especiales del juego.

### üéà  Ejercicio diccionarios üéà


Imagina que est√°s creando un sistema sencillo para gestionar los libros en una biblioteca, por lo cual deber√°s hacer lo siguiente:


- **Crear un Cat√°logo de Libros:** Define un diccionario llamado catalogo_libros que almacene algunos de los libros le√≠dos en Espa√±a, donde las claves son los t√≠tulos de los libros y los valores son los nombres de los autores. Ejemplo:

  catalogo_libros =
      {"Don Quijote de la Mancha": "Miguel de Cervantes",
      "Cien a√±os de soledad": "Gabriel Garc√≠a M√°rquez",
      "La sombra del viento": "Carlos Ruiz Zaf√≥n",
      "El juego del √°ngel": "Carlos Ruiz Zaf√≥n",
      "Marina": "Carlos Ruiz Zaf√≥n"}
    

- **B√∫squeda de Libro en el Cat√°logo:** Pide al usuario que introduzca el nombre de un libro a trav√©s de input(). Utiliza una estructura de control para comprobar si el libro introducido est√° disponible. Si se encuentra el libro, imprime "El autor del libro [nombre del libro] es [nombre del autor].". Si el libro no est√° en el cat√°logo, imprime "Lo sentimos, el libro [nombre del libro] no est√° disponible."

- **Libros por Autor:** obt√©n en una variable los nombres de los autores de nuestro diccionario, sin repeticiones.


- **Recomendaciones:** Define una tupla llamada recomendaciones con los nombres de tres libros recomendados que no est√©n en el cat√°logo inicial. Usa un bucle while para imprimir cada libro de la tupla con un mensaje que diga "Recomendamos leer: [nombre del libro]". Incrementa un contador para salir del bucle.


      {"El Alquimista - Paulo Coelho",
      "El tatuador de Auschwitz - Heather Morris",
      "Cr√≥nica de una muerte anunciada - Gabriel Garc√≠a M√°rquez"}

In [24]:
# PASO 1. DEFINIR EL CATALOGO DE LIBROS
# Define un diccionario llamado catalogo_libros que almacene los libros
# Las claves son los t√≠tulos de los libros y los valores son los nombres de los autores.

catalogo_libros = {
    "Don Quijote de la Mancha": "Miguel de Cervantes",
    "Cien a√±os de soledad": "Gabriel Garc√≠a M√°rquez",
    "La sombra del viento": "Carlos Ruiz Zaf√≥n",
    "El juego del √°ngel": "Carlos Ruiz Zaf√≥n",
    "Marina": "Carlos Ruiz Zaf√≥n"
}

In [35]:
# Paso 2: B√∫squeda de libro en el cat√°logo

# Pedimos al usuario que introduzca el nombre de un libro a trav√©s de input()
libro_usuario = input('Por favor introduce el t√≠tulo del libro que quiere: ')

# B√∫squeda del libro en el cat√°logo
if libro_usuario in catalogo_libros:
  autor = catalogo_libros[libro_usuario]
  print(f'El autor del libro {libro_usuario} es {autor}')
else:
  print('Lo sentimos, el libro no est√° en nuestro cat√°logo')

Por favor introduce el t√≠tulo del libro que quiere: Marina
El autor del libro Marina es Carlos Ruiz Zaf√≥n

In [29]:
libro_usuario = 'Marina'
catalogo_libros[libro_usuario]

'Carlos Ruiz Zaf√≥n'

In [42]:
# Paso 3: autores unicos
autores = list(catalogo_libros.values())

autores

['Miguel de Cervantes',
 'Gabriel Garc√≠a M√°rquez',
 'Carlos Ruiz Zaf√≥n',
 'Carlos Ruiz Zaf√≥n',
 'Carlos Ruiz Zaf√≥n']

In [43]:
# Paso 3: autores unicos
autores = list(catalogo_libros.values())

autores_unicos = []
for autor in autores:
  if autor not in autores_unicos:
    autores_unicos.append(autor)

print(autores_unicos)

['Miguel de Cervantes', 'Gabriel Garc√≠a M√°rquez', 'Carlos Ruiz Zaf√≥n']

In [44]:
autores = list(catalogo_libros.values())

autores_unicos = set(autores)
print(autores_unicos)
print(type(autores_unicos))

autores_unicos = list(autores)
print(autores_unicos)
print(type(autores_unicos))

{'Miguel de Cervantes', 'Carlos Ruiz Zaf√≥n', 'Gabriel Garc√≠a M√°rquez'}
<class 'set'>
['Miguel de Cervantes', 'Gabriel Garc√≠a M√°rquez', 'Carlos Ruiz Zaf√≥n', 'Carlos Ruiz Zaf√≥n', 'Carlos Ruiz Zaf√≥n']
<class 'list'>

In [45]:
autores = list(catalogo_libros.values())

autores_unicos = list(set(autores))
print(autores_unicos)

['Miguel de Cervantes', 'Carlos Ruiz Zaf√≥n', 'Gabriel Garc√≠a M√°rquez']

In [37]:
catalogo_libros.keys()

dict_keys(['Don Quijote de la Mancha', 'Cien a√±os de soledad', 'La sombra del viento', 'El juego del √°ngel', 'Marina'])

In [52]:
# Paso 4: Recomendaciones
recomendaciones = (
    "El Alquimista - Paulo Coelho",
    "El tatuador de Auschwitz - Heather Morris",
    "Cr√≥nica de una muerte anunciada - Gabriel Garc√≠a M√°rquez"
)
num_recomendaciones = len(recomendaciones)
print(type(recomendaciones))
print('N√∫mero recomendaciones:', num_recomendaciones)

contador = 0
while contador < num_recomendaciones:
  print(contador)
  print(f'Recomendamos tambi√©n: {recomendaciones[contador]}')
  contador +=1

print('Esas son todas nuestras recomendaciones')

<class 'tuple'>
N√∫mero recomendaciones: 3
0
Recomendamos tambi√©n: El Alquimista - Paulo Coelho
1
Recomendamos tambi√©n: El tatuador de Auschwitz - Heather Morris
2
Recomendamos tambi√©n: Cr√≥nica de una muerte anunciada - Gabriel Garc√≠a M√°rquez
Esas son todas nuestras recomendaciones

### üéàEjercicio estructura de control y listasüéà

Imagina que est√°s desarrollando un programa que necesita procesar informaci√≥n sobre un grupo de estudiantes y sus calificaciones. Aqu√≠ tienes las tareas espec√≠ficas que debes completar:

- Tienes una lista de calificaciones de estudiantes:

> calificaciones = [95, 82, 59, 78, 88, 93].

- Un estudiante aprueba si su calificaci√≥n es 60 o m√°s. Crea una nueva lista llamada **aprobados** que contenga True o False dependiendo de si cada estudiante ha aprobado o no, utilizando comprensi√≥n de listas.

- Calcula la calificaci√≥n **promedio** de la clase y almac√©nala en una variable llamada **promedio**. Imprime el resultado con un mensaje que diga "La calificaci√≥n promedio de la clase es: {promedio}".

- A partir de la lista original calificaciones, crea una nueva lista llamada **calificaciones_mejoradas** donde has a√±adido 5 puntos extra a cada estudiante cuya calificaci√≥n original fue menor a 90. Usa comprensi√≥n de listas para esto. Aseg√∫rate de que ninguna calificaci√≥n exceda de 100.

- Finalmente, encuentra e imprime la calificaci√≥n m√°s alta usando la funci√≥n **max()** sobre la lista calificaciones_mejoradas.

In [13]:
# Lista de calificaciones de estudiantes
calificaciones = [95, 82, 59, 78, 88, 93]

# 1. Crear una lista de aprobados
aprobados = [calificacion >= 60 for calificacion in calificaciones]
print("Lista de aprobados:", aprobados)

# 2. Calcular la calificaci√≥n promedio
calificaci√≥n_promedio = sum(calificaciones) / len(calificaciones)
print("Calificaci√≥n promedio : ", calificaci√≥n_promedio)

# 3. Crear una lista de calificaciones mejoradas
calificaciones_mejoradas = [min(calificacion + 5, 100)
    if calificacion < 90
    else calificacion for calificacion
    in calificaciones]
print("Calificaciones mejoradas:", calificaciones_mejoradas)

# 4. Encontrar e imprimir la calificaci√≥n m√°s alta
m√°xima_calificaci√≥n = max(calificaciones_mejoradas)
print("M√°xima calificaci√≥n NO mejorada:", max(calificaciones))
print("M√°xima calificaci√≥n mejorada:", m√°xima_calificaci√≥n)

Lista de aprobados: [True, True, False, True, True, True]
Calificaci√≥n promedio :  82.5
Calificaciones mejoradas: [95, 87, 64, 83, 93, 93]
M√°xima calificaci√≥n NO mejorada: 95
M√°xima calificaci√≥n mejorada: 95

#### Extra

Comprensi√≥n de Listas:

```
[min(calificacion + 5, 100) if calificacion < 90 else calificacion for calificacion in calificaciones]
````

Utilizamos comprensi√≥n de listas para crear una nueva lista llamada calificaciones_mejoradas. La estructura general de esta **comprensi√≥n de listas** es:

```
[expression if condition else alternative for item in iterable]
````

- **expression:** `min(calificacion + 5, 100)` es la expresi√≥n que se evaluar√° si la condici√≥n es True.

- **condition:** `calificacion < 90` es la condici√≥n que se eval√∫a para cada elemento.

- **alternative:** `calificacion` es la alternativa que se usar√° si la condici√≥n es False.

- **item:** La variable temporal que toma cada valor del iterable ‚áí `calificacion`

- **iterable:** La colecci√≥n de elementos que se iteran ‚áí `calificaciones`

Desglose Paso a Paso:

- Este bucle recorre cada elemento de la lista calificaciones:

  `for calificacion in calificaciones`


- Condici√≥n y Expresi√≥n:
    - Se eval√∫a si la calificaci√≥n es menor a 90:

    `if calificacion < 90`

    - Si la condici√≥n es verdadera (la calificaci√≥n es menor a 90), se a√±ade 5 puntos a la calificaci√≥n. Se usa la funci√≥n `min()` para asegurar que el resultado no supere 100:

    `min(calificacion + 5, 100)`

    - Si la condici√≥n es falsa (la calificaci√≥n es 90 o m√°s), la calificaci√≥n se deja tal como est√°:

    `else calificacion`


- **Resultado Final:**
La nueva lista calificaciones_mejoradas contendr√° las calificaciones ajustadas con 5 puntos adicionales para aquellas que eran menores a 90, asegurando que ninguna calificaci√≥n exceda 100.

Aqu√≠ est√° el desglose de c√≥mo se eval√∫a cada calificaci√≥n:

- Para 95: La condici√≥n es False, entonces la calificaci√≥n sigue siendo 95.

- Para 82: La condici√≥n es True, entonces min(82 + 5, 100) da 87.

- Para 59: La condici√≥n es True, entonces min(59 + 5, 100) da 64.

- Para 78: La condici√≥n es True, entonces min(78 + 5, 100) da 83.

- Para 88: La condici√≥n es True, entonces min(88 + 5, 100) da 93.

- Para 93: La condici√≥n es False, entonces la calificaci√≥n sigue siendo 93.

## 7.Funciones

Las funciones son bloques de c√≥digo reutilizables que realizan una tarea espec√≠fica. Al dividir el c√≥digo en funciones, se promueve la modularidad, la legibilidad y la reutilizaci√≥n del c√≥digo.

In [ ]:
# Definici√≥n de una funci√≥n simple que no recibe argumentos.
def ejemplo_funcion():
  # Devuelve una cadena de texto que indica que la funci√≥n fue ejecutada.
    return "Funcion ejecutada."

# Llamada a la funci√≥n 'ejemplo_funcion' y muestra su resultado.
print(ejemplo_funcion())

Esto es una funci√≥n
None

In [57]:
# Llamada a la funci√≥n 'suma_dos_valores' con dos n√∫meros como argumentos.
resultado = suma_dos_valores(5, 7)
print(f"La suma de los dos valores es: {suma_dos_valores(resultado)}")

def dividir_dos_valores(a, b):
  # Retorna la divisi√≥n de 'a' entre 'b'.
  return a / b

# Llamada a la funci√≥n y muestra el resultado.
print(f"La divisi√≥n de los dos valores es: {dividir_dos_valores(10, 4)}")

NameError: name 'num_1' is not defined

In [ ]:
def suma_resta(a,b):
  suma = a + b
  resta = a - b
  return suma, resta

suma, resta = suma_resta (10,3)
print("Suma: ", suma)
print("Resta: ", resta)

Suma:  13
Resta:  7

### Built-in

[Lista funciones built-in](https://docs.python.org/es/3.8/library/functions.html)

Las funciones **built-in** son aquellas que est√°n disponibles de forma predeterminada en el int√©rprete de Python, lo que significa que no es necesario importar ning√∫n m√≥dulo para utilizarlas.

Estas funciones est√°n integradas en el lenguaje y proporcionan funcionalidades b√°sicas que son comunesmente utilizadas en la programaci√≥n cotidiana.

Algunos ejemplos comunes de funciones built-in en Python incluyen:

- **print():** Utilizada para imprimir mensajes en la consola.
- **input():**  Utilizada para recibir entrada del usuario a trav√©s del teclado.
- **len():** Utilizada para obtener la longitud (n√∫mero de elementos) de un objeto iterable, como una lista, una cadena o una tupla.
- **type():** Utilizada para obtener el tipo de datos de un objeto.
- **range():** Utilizada para generar una secuencia de n√∫meros.
- **sum():** Utilizada para sumar todos los elementos de una secuencia, como una lista.
- **max():** Utilizada para encontrar el valor m√°ximo en una secuencia.
- **min():** Utilizada para encontrar el valor m√≠nimo en una secuencia.
- **abs():** Utilizada para obtener el valor absoluto de un n√∫mero.
- **round():** Utilizada para redondear un n√∫mero a un n√∫mero espec√≠fico de d√≠gitos decimales.

In [ ]:
def suma_dos_valores(a,b):
  suma = a + b
  return suma

suma_dos_valores(10,3)
print("Suma: ", suma)
print("Suma built-in: ", sum([10,3]))

Suma:  13
Suma built-in:  13

### üéà Ejercicio funciones üéà

Imagina que eres un analista de datos en una empresa que necesita evaluar regularmente las ventas diarias. Quieres comparar el n√∫mero de ventas de cada d√≠a con un objetivo de ventas aleatorio para ver si las ventas fueron mayores, menores o iguales al objetivo.

1. Definir una funci√≥n llamada **evaluar_ventas** que acepte el n√∫mero de ventas y el objetivo como argumento.
2. Generar un **objetivo** de ventas y solicitar al usuario el **numero de ventas** realizadas.
3. Comparar el n√∫mero de ventas con el objetivo de ventas y asignar un mensaje apropiado al resultado de la comparaci√≥n.
4. Imprimir el resultado de la comparaci√≥n.

In [66]:
# Define una funci√≥n que compara el n√∫mero de ventas ingresado con un objetivo de ventas aleatorio.

def evaluar_ventas(numero_ventas, objetivo_ventas):
  if numero_ventas < objetivo_ventas:
    diferencia = objetivo_ventas - numero_ventas
    print(f'No has cumplido objetivos. Te falta cerrar {diferencia} contratos para llegar al objetivo de ventas')

    return diferencia

  else:
    print('Has logrado el objetivo de ventas')
    return None

# Definimos objetivo de las ventas
objetivo = 1_000

# Solicita al usuario que introduzca el n√∫mero de ventas del d√≠a.
ventas = int(input('Cuantos contratos has cerrado este a√±o: '))

# Llama a la funci√≥n para evaluar las ventas ingresadas por el usuario.
evaluar_ventas(numero_ventas=ventas, objetivo_ventas=objetivo)

Cuantos contratos has cerrado este a√±o: 800
No has cumplido objetivos. Te falta cerrar 200 contratos para llegar al objetivo de ventas

200

### Lambda

Las funciones lambda en Python son una forma concisa de escribir funciones an√≥nimas para operaciones simples. Caracter√≠sticas clave:

* **An√≥nimas:** No necesitan un nombre al ser definidas, lo cual es √∫til para operaciones r√°pidas que no se reutilizan en otras partes del c√≥digo.
* **Sintaxis Simple:** Ideal para funciones que realizan una √∫nica operaci√≥n o c√°lculo con sus argumentos.

`lambda argumentos: expresi√≥n`

In [ ]:
# calcula el cuadrado de un n√∫mero
cuadrado = lambda x: x ** 2
print(cuadrado(5))  # Output: 25

25

In [ ]:
# Ejemplo de una funci√≥n lambda que suma dos n√∫meros.
suma = lambda a, b: a + b

# Uso de la funci√≥n lambda para sumar 5 y 3.
print(suma(5, 3))  # Muestra 8

8

In [ ]:
# Lista de n√∫meros
numeros = [1, 2, 3, 4, 5]

# Utilizamos map para obtener el cuadrado de cada n√∫mero
#¬†map (expresion a ejecutar, lista sobre la que queremos aplicar)
cuadrados = list(map(lambda x: x ** 2, numeros))
print("Cuadrados:", cuadrados)  # Output: [1, 4, 9, 16, 25]

Cuadrados: [1, 4, 9, 16, 25]

In [ ]:
# Lista de n√∫meros
numeros = [1, 2, 3, 4, 5]

# Utilizamos filter para obtener solo los n√∫meros pares
# filter(filtro a realizar, argumento sobre el que realizarlo)
pares = list(filter(lambda x: x % 2 == 0, numeros))
print("N√∫meros pares:", pares)  # Output: [2, 4]

N√∫meros pares: [2, 4]

In [ ]:
from functools import reduce

# Utilizamos reduce para obtener la suma de todos los n√∫meros
suma = reduce(lambda x, y: x + y, numeros)
print("Suma de todos los n√∫meros:", suma)  # Output: 15

Suma de todos los n√∫meros: 15

#### üéà Ejercicio lambda 1üéà

Supongamos que tienes una lista de precios de productos y deseas aplicar un descuento del 10% a todos ellos.

Podr√≠as usar una funci√≥n lambda para hacer esto de manera eficiente

`precios: 100, 200, 300, 400, 500`

In [ ]:
# Lista de precios originales
precios =

#### üéà Ejercicio lambda 2üéà

Imagina que est√°s analizando una lista de edades de un grupo de usuarios y quieres filtrar a todos los que son mayores de 18 a√±os:

```
edades: 14, 25, 30, 17, 21, 16, 28
```

In [ ]:
# Lista de edades
edades =

#### üéà Ejercicio lambda 3üéà

Supongamos que tienes una **lista de tuplas** que representan los nombres de los empleados y sus a√±os de servicio.

Quieres ordenar esta lista por los a√±os de servicio de forma descendente



```
Ana-10, Luis-2, Carlos-5, Marta-8
```

In [ ]:
# Lista de empleados y a√±os de servicio
empleados =

- Utilizamos la funci√≥n **sorted()** para ordenar la lista empleados bas√°ndonos en los a√±os de servicio de cada empleado.

- El par√°metro **key=lambda x: x[1]** especifica una funci√≥n lambda que act√∫a como clave de ordenamiento. En este caso, la funci√≥n lambda toma cada elemento x de la lista y devuelve el segundo elemento de la tupla x, que son los a√±os de servicio. Esto significa que estamos ordenando los empleados seg√∫n sus a√±os de servicio.

- El par√°metro **reverse=True** indica que queremos ordenar la lista de forma descendente, es decir, de mayor a menor en funci√≥n de los a√±os de servicio.

## Entregable 1

### üéà <font color='red'> 1. Ejercicio usuarios <font color='black'> üéà

Supongamos que est√°s trabajando con una lista de nombres de usuarios que se han recopilado a trav√©s de un formulario en l√≠nea. A menudo, los usuarios pueden ingresar accidentalmente espacios adicionales antes o despu√©s de sus nombres, lo que podr√≠a causar problemas al realizar comparaciones o al almacenar estos datos en una base de datos.

- Se te proporciona una lista llamada **lista_usuarios** que incluye nombres de usuarios con y sin espacios extra al principio o al final.

> "Ana", "Carlos Andres  ", " Diana", " Jorge    "

- Tu tarea es limpiar los espacios al principio y al final de cada nombre de usuario en la lista utilizando la comprensi√≥n de listas y el m√©todo .strip().

- Despu√©s de la limpieza, debes imprimir cada nombre de usuario para mostrar la eliminaci√≥n de los espacios.

- Adem√°s, proporciona un ejemplo adicional que compare la longitud de un nombre de usuario antes y despu√©s de la limpieza para demostrar la eliminaci√≥n de espacios.

In [ ]:
# Se define una lista que incluye nombres de usuarios con y sin espacios extra al principio o al final.
lista_usuarios =

### üéà <font color='red'> 2. Ejercicio estructuras de control con contador <font color='black'> üéà


Imagina que trabajas en el departamento de servicio al cliente de una compa√±√≠a que acaba de lanzar un nuevo producto y has recibido una serie de comentarios de los clientes. Quieres analizar r√°pidamente estos comentarios para ver cu√°ntos mencionan un t√©rmino espec√≠fico relacionado con el producto, como podr√≠a ser el nombre del producto.

- Queremos analizar una lista de comentarios de clientes sobre un nuevo producto y contar cu√°ntos de estos comentarios mencionan un t√©rmino espec√≠fico relacionado con el producto:

  1. Define una variable llamada **nombre_producto** que contenga el nombre del producto que deseas buscar en los comentarios:

  > EcoFriendlyBottle

  2. Define una *lista* llamada **comentarios** que contenga varios comentarios de clientes sobre el producto.

  > "Realmente amo mi nueva EcoFriendlyBottle, ¬°es perfecta para llevar al trabajo!"

  > "No estoy seguro de si la EcoFriendlyBottle vale su precio."

  > "¬øAlguien ha probado la EcoFriendlyBottle? Estoy pensando en comprar una."

  > "Preferir√≠a algo m√°s colorido que una EcoFriendlyBottle."

  > "¬°Esta botella mantiene mi bebida fr√≠a por horas!"

  3. Utiliza un bucle **for** para iterar sobre cada comentario en la lista comentarios.

  4. Dentro del bucle, verifica si el nombre_producto aparece dentro del comentario.

  5. Si el nombre_producto se encuentra en el comentario, incrementa un contador que lleva el registro de las menciones encontradas.
  
  6. Imprime cada comentario que mencione el nombre_producto.
  
  7. Al final, imprime el total de menciones encontradas del nombre_producto.

In [ ]:
# Se define una variable de cadena con el nombre del producto.
nombre_producto =

# Se define una lista con varios comentarios de clientes.
comentarios =

# Contador para los comentarios que mencionan el nombre del producto.


# Utiliza el bucle 'for' para iterar sobre cada comentario.

# Imprime el total de menciones encontradas.

Si deseas contar las menciones de la palabra clave incluso si aparece varias veces en el mismo comentario, puedes utilizar el m√©todo count(), cuenta el n√∫mero de veces que aparece una subcadena dentro de otra cadena.

### üéà  <font color='red'> 3. Ejercicio votaci√≥n pel√≠culas <font color='black'> üéà

Imag√≠nate organizando una noche de cine con amigos y familiares, donde todos tienen la oportunidad de votar por su pel√≠cula favorita de una lista preseleccionada.

El objetivo de este desaf√≠o es construir un sistema simple pero completo en Python que no solo permita registrar esos votos, sino tambi√©n analizarlos e informar sobre la pel√≠cula m√°s popular

- **Listado de Pel√≠culas:** Comienza mostrando las pel√≠culas disponibles para votaci√≥n, enumeradas para facilitar la elecci√≥n del usuario (usar **enumerate**)

```enumerate(iterable, start=0)```

- **Registrar Votos:** Se invita al usuario a votar introduciendo el √≠ndice de su pel√≠cula favorita. Puede votar tantas veces como desee hasta que escriba 'salir'. Esta parte del c√≥digo demuestra c√≥mo recoger y procesar entradas del usuario en un bucle, actualizando el diccionario de votos seg√∫n las elecciones.

- **An√°lisis y Resultado Final:** Una vez que el usuario termina de votar, el programa utiliza reduce para determinar cu√°l pel√≠cula recibi√≥ m√°s votos, mostrando el resultado. Esto demuestra la aplicaci√≥n pr√°ctica de reduce para sintetizar una colecci√≥n de datos en un solo resultado.




```
"Titanic",
"El Padrino",
"Forrest Gump",
"La lista de Schindler",
"El Se√±or de los Anillos: El retorno del Rey"
```

In [ ]:
# Listado de pel√≠culas disponibles
peliculas =

## Contenido extra (casa)

### *Args

La funcionalidad de *args en Python permite a una funci√≥n aceptar un n√∫mero variable de argumentos sin nombre. Python recoge todos los argumentos pasados a la funci√≥n y los agrupa en una tupla, facilitando su manejo dentro de la funci√≥n.

Aunque se usa com√∫nmente el t√©rmino "args" por convenci√≥n, puedes usar cualquier nombre siempre que est√© precedido por un asterisco (*), que es lo que indica a Python que agrupe los argumentos en una tupla.

- "args" es una abreviatura de "arguments", argumentos en ingl√©s.

- Cuando utilizas ***args** como un par√°metro en la definici√≥n de una funci√≥n, le est√°s diciendo a Python que acepte cualquier n√∫mero de argumentos posicionales (es decir, argumentos sin nombre) y los agrupe en una tupla dentro de la funci√≥n.

In [ ]:
def sumar_numeros(*args):
    total = 0
    for num in args:
        total += num
    return total

# Ejemplo de uso
resultado = sumar_numeros(1, 2, 3, 4, 5)
print(resultado)  # Output: 15

15

In [ ]:
resultado = sumar_numeros(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
resultado

55

In [ ]:
# funci√≥n que concatena cadenas de texto:
def concatenar_texto(*args):
    resultado = ""
    for texto in args:
        resultado += texto
    return resultado

# Ejemplo de uso
texto_concatenado = concatenar_texto("Hola", ", ", "c√≥mo", " ", "est√°s", "?")
print(texto_concatenado)  # Output: Hola, c√≥mo est√°s?

Hola, c√≥mo est√°s?

#### ‚≠ê Ejemplo *args ‚≠ê

Supongamos que trabajas en una tienda y necesitas una funci√≥n que pueda sumar los precios de cualquier cantidad de productos que un cliente decida comprar.

Aqu√≠ es donde puedes utilizar *args para permitir que la funci√≥n acepte cualquier n√∫mero de argumentos.

In [ ]:
# Definici√≥n de la funci√≥n 'calcular_total_compra'.
# El asterisco (*) antes de 'precios' indica que la funci√≥n acepta cualquier n√∫mero de argumentos.
def calcular_total_compra(*precios):
    total = 0  # Inicializa la variable 'total' a 0.

    # Itera sobre cada precio en 'precios'.
    for precio in precios:
        total += precio  # Suma cada 'precio' al total.

    return total  # Devuelve el total de la compra.

# Ejemplo de llamada a la funci√≥n con distintos n√∫meros de productos.
total_compra = calcular_total_compra(15.99, 23.50, 9.99)  # El cliente compra tres productos.

# Imprime el resultado de la funci√≥n, que ser√° el total de los precios pasados como argumentos.
print(f"El total de tu compra es: ${total_compra:.2f}")  # Esto imprimir√° el total formateado a dos decimales.

El total de tu compra es: $49.48

###**Kwargs
Cuando tenemos indefinido el n√∫mero de argumentos que recibir√° la funci√≥n. Python autom√°ticamente toma todos los valores de los argumentos y los almacena como diccionario.

Por convenci√≥n se utiliza la palabra "kwargs" (*argumentos con clave*) pero puede sustiturise por cualquiera siempre en presencia de un asterisco al principio.

- **kwargs es una forma de aceptar un n√∫mero variable de argumentos de palabras clave en una funci√≥n.
- La sintaxis **kwargs permite a una funci√≥n aceptar cualquier n√∫mero de argumentos de palabras clave, que se pasan a la funci√≥n como un diccionario.
- kwargs es solo un nombre com√∫nmente utilizado, pero el ** antes del nombre es lo que le dice a Python que acepte un n√∫mero variable de argumentos de palabras clave.

In [ ]:
# Construir un diccionario
def construir_diccionario(**kwargs):
    return kwargs

# Ejemplo de uso
diccionario = construir_diccionario(a=1, b=2, c=3, d=4)
print("Diccionario construido:", diccionario)
type(diccionario)

Diccionario construido: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

dict

In [ ]:
#¬†imprimir los argumentos
def imprimir_kwargs(**kwargs):
    for clave, valor in kwargs.items():
        print(f"{clave}: {valor}")

# Ejemplo de uso
imprimir_kwargs(nombre="Juan", edad=30, ciudad="Madrid")

nombre: Juan
edad: 30
ciudad: Madrid

In [ ]:
# Concatenar cadenas con argumentos de palabras clave:
def concatenar_nombres(**kwargs):
    nombres = ""
    for clave, valor in kwargs.items():
        nombres += valor + " "
    return nombres.strip()

# Ejemplo de uso
nombres_completos = concatenar_nombres(nombre="Juan", segundo_nombre="Carlos", apellido="P√©rez")
print("Nombres completos:", nombres_completos)

Nombres completos: Juan Carlos P√©rez

#### ‚≠ê Ejemplo **kwargs ‚≠ê

Imagina que est√°s programando una funci√≥n que acepta datos de perfil de diferentes usuarios. No sabes de antemano qu√© informaci√≥n proporcionar√° cada usuario, por lo que quieres una funci√≥n que pueda manejar diferentes tipos de datos.

In [ ]:
# Definici√≥n de la funci√≥n 'crear_perfil_usuario'.
def crear_perfil_usuario(**datos_usuario):
    # Inicia la impresi√≥n del perfil del usuario.
    print("\nPerfil del Usuario Creado:")
    # Itera sobre cada par clave-valor en los datos del usuario.
    for clave, valor in datos_usuario.items():
        # Imprime cada clave y valor en el formato especificado.
        print(f"{clave.capitalize()}: {valor}")

# Llamada a la funci√≥n 'crear_perfil_usuario' con diferentes datos para distintos usuarios.
crear_perfil_usuario(nombre="Elena", edad=28, ciudad="Barcelona", hobby="Escalada")
crear_perfil_usuario(nombre="Miguel", ciudad="Valencia", ocupacion="Desarrollador Web")

Perfil del Usuario Creado:
Nombre: Elena
Edad: 28
Ciudad: Barcelona
Hobby: Escalada

Perfil del Usuario Creado:
Nombre: Miguel
Ciudad: Valencia
Ocupacion: Desarrollador Web

### üéà Ejercicio args üéà

Imagina que eres un analista de datos y necesitas una funci√≥n flexible para analizar diferentes sets de datos de ventas. Quieres poder ingresar un n√∫mero variable de datos de ventas, especificar un tipo de an√°lisis (como media, mediana, etc.), y proporcionar opciones adicionales como el a√±o o la regi√≥n de las ventas.

El ejercicio consiste en:

- Definir una funci√≥n llamada analizar_ventas que acepta m√∫ltiples argumentos posicionales (* ventas ), el mes que vamos analizar, el tipo de analisis que se quiere realizar y  cualquier n√∫mero de argumentos de palabras clave adicionales (**opciones).

- La funci√≥n realiza un an√°lisis estad√≠stico de las ventas proporcionadas seg√∫n el tipo de an√°lisis especificado (media, mediana o suma), e imprime el resultado junto con el mes del an√°lisis, los datos de ventas y cualquier opci√≥n adicional proporcionada.

Ejemplo de llamada:



```
analizar_ventas("Enero", 200, 300, 400, tipo_analisis="media", a√±o=2024, regi√≥n="Norte")

analizar_ventas("Mayo", 200, 300, 400, tipo_analisis="suma")

```

Enero ‚Üí mes

200, 3000, 400 ‚Üí ventas

media ‚Üí tipo de analisis

2024, Norte ‚Üí valores de las claves adicionales

In [ ]:
# solucion

### üéà Ejercicio kwargs üéà


Supongamos que est√°s desarrollando una funci√≥n para un sistema de gesti√≥n de usuarios en una aplicaci√≥n web. Diferentes usuarios pueden proporcionar diferentes cantidades de informaci√≥n personal al registrarse. Quieres una funci√≥n que pueda manejar esta variabilidad de manera eficiente.

- Definir una funci√≥n llamada configurar_usuario
- Que acepta argumentos de palabras clave arbitrarios (**kwargs) para configurar un diccionario de usuario.
- Este diccionario tiene claves predefinidas ("nombre", "edad", "email") con valores predeterminados ("An√≥nimo", "Desconocida", "No especificado") para que en el caso de que no est√©n definidos, se asignen como default. Si son asignados, se sobreescribir√°n.



```
usuario1 = configurar_usuario(nombre="Carlos", edad=30, email="carlos@ejemplo.com")
usuario2 = configurar_usuario(nombre="Melisa", email="melisa@ejemplo.com")
usuario3 = configurar_usuario()
```

Salida esperada:

```
Usuario 1: {'nombre': 'Carlos', 'edad': 30, 'email': 'carlos@ejemplo.com'}
Usuario 2: {'nombre': 'Melisa', 'edad': 'Desconocida', 'email': 'melisa@ejemplo.com'}
Usuario 3: {'nombre': 'An√≥nimo', 'edad': 'Desconocida', 'email': 'No especificado'}

```

In [ ]:
# solucion

Usuario 1: {'nombre': 'Carlos', 'edad': 30, 'email': 'carlos@ejemplo.com'}
Usuario 2: {'nombre': 'Melisa', 'edad': 'Desconocida', 'email': 'melisa@ejemplo.com'}
Usuario 3: {'nombre': 'An√≥nimo', 'edad': 'Desconocida', 'email': 'No especificado'}